In [2]:
import pandas as pd
import numpy as np
rawdf = pd.read_csv("aptsBK.csv",header=None)
rawdf.columns = ['Address', 'Neighborhood','Price','Apt Type','Bedrooms','Bathrooms','Rooms','Sqft','Description']

In [3]:
rawdf

,Address,Neighborhood,Price,Apt Type,Bedrooms,Bathrooms,Rooms,Sqft,Description
0,203-209 North 11th Street,Williamsburg,"$18,000,000",Commercial,NaN,3.0,3.0,"10,000",Where X Marks the Spot in Williamsburg Northsi...
1,8121 Shore Road,Bay Ridge,"$15,000,000",House,7.0,7.5,24.0,"10,010",A Phenomenal-Once in a Lifetime Opportunity to...
2,532 Clinton Avenue,Clinton Hill,"$9,760,000",Townhouse,6.0,4.5,NaN,"3,754",532 Clinton Avenue is a development site in th...
3,143 Willow Street,Brooklyn Heights,"$9,750,000",Townhouse,8.0,4.5,14.0,NaN,"143 Willow Street, on one of Brooklyn Heightsâ€™..."
4,1101-110 Fulton Street,Clinton Hill,"$7,920,000",Townhouse,14.0,8.0,29.0,NaN,DEAL FELL THROUGH & BACK ON THE MARKET ...LOOK...
5,76 Pierrepont Street,Brooklyn Heights,"$6,950,000",Townhouse,8.0,9.0,16.0,"6,500",Rarely does such a show-stopping property come...
6,130 Furman Street,Brooklyn Heights,"$6,250,000",Condo,5.0,4.0,10.0,"4,731",IMMEDIATE OCCUPANCY! This Massive Sunny 5 Bedr...
7,130 Furman Street,Brooklyn Heights,"$5,750,000",Condo,3.0,3.5,6.0,"4,163",For Immediate Occupancy! This incredible 3 Bed...
8,672 Saint Marks Avenue,Crown Heights,"$5,300,000",Townhouse,7.0,7.0,25.0,"7,500","Introducing 672 St. Marks, An Architectural Ma..."
9,169 Hicks Street,Brooklyn Heights,"$5,300,000",Townhouse,6.0,4.0,13.0,"4,320",DOUBLE DUPLEX. Resting squarely within the Bro...
10,196 Hicks Street,Brooklyn Heights,"$5,250,000",Co-op,4.0,3.5,9.0,"2,801","An incredibly grand and elegant parlor floor, ..."
11,90 Furman Street,Brooklyn Heights,"$4,950,000",Condo,3.0,2.5,6.0,"3,081",IMMEDIATE OCCUPANCY! Over 90% sold out. This i...
12,51 Jay Street,DUMBO/Vinegar Hill,"$4,850,000",Condo,3.0,4.0,5.0,NaN,3 Bedroom 4 Bath Duplex Penthouse with Amazing...
13,848 President Street,Park Slope,"$4,750,000",Townhouse,8.0,5.0,18.0,"4,700",LIVE WELL AND PROSPER -\n848 President is a 5 ...
14,669 East 2nd Street,Kensington,"$4,750,000",Townhouse,10.0,6.5,19.0,"3,143",Welcome to The Kensington Villa at 669 East 2n...
15,43 Strong Place,Cobble Hill,"$4,750,000",Townhouse,4.0,2.5,9.0,NaN,Nestled mid-block on one of Cobble Hill's most...
16,140 State Street,Brooklyn Heights,"$4,700,000",Townhouse,6.0,4.0,14.0,NaN,This rarely available 25 foot wide Brooklyn He...
17,815 5th Avenue,Greenwood,"$4,550,000",Townhouse,12.0,6.0,36.0,"4,560",Prime Corner Greenwood Development Site with u...
18,98 Degraw Street,Brooklyn,"$4,500,000",Townhouse,4.0,3.5,9.0,"3,412",Completed in 2018 by architect-developer Barre...
19,96 Degraw Street,Brooklyn,"$4,500,000",Townhouse,4.0,3.5,9.0,"3,412",Completed in 2018 by architect-developer Barre...
20,30 Bartlett Street,Williamsburg,"$4,500,000",Commercial,NaN,NaN,1.0,"5,000",Corcoran has been retained on an exclusive bas...
21,345 State Street,Boerum Hill,"$4,495,000",Townhouse,5.0,4.5,11.0,"3,600",Welcome to 345 State Street - This beautiful F...
22,112 2nd Place,Carroll Gardens,"$4,450,000",Townhouse,9.0,5.0,19.0,"5,000","112 Second Place, Carroll Gardens\nA rare and ..."
23,24 Middagh Street,Brooklyn Heights,"$4,300,000",Townhouse,7.0,5.0,15.0,"4,007","Known as the ""Queen of Brooklyn Heights"" 24 Mi..."
24,172 North 10th Street,Williamsburg,"$4,295,000",Condo,3.0,3.5,5.0,"2,318",360Â° Views + Wraparound Terrace = the Pinnacle...
25,331 4th Street,Park Slope,"$4,250,000",House,3.0,3.0,6.0,NaN,Radically different -- and unique -- in Park S...
26,236 President Street,Carroll Gardens,"$4,250,000",House,6.0,4.0,10.0,"3,485","Lofty and expansive 3,485 square foot carriage..."
27,145 Atlantic Avenue,Brooklyn Heights,"$4,250,000",Townhouse,4.0,3.5,12.0,"4,600",A developers dream! This Mixed-Use Brownstone ...
28,45 Willow Place,Brooklyn Heights,"$4,250,000",Townhouse,4.0,3.0,9.0,NaN,45 Willow Place in Brooklyn Heights melds an h...
29,155 Grand Street,Williamsburg,"$3,999,000",Townhouse,5.0,2.5,10.0,"4,011",Prime Flagship Retail & Mixed-Use Property for...
...,...,...,...,...,...,...,...,...,...
523,570 44th Street,Sunset Park,"$525,000",Co-op,1.5,NaN,5.0,NaN,"570 44th Street ~ Unit 5\nLight and Bright, th..."
524,283 East 5th Street,Kensington,"$510,000",Co-op,NaN,NaN,3.0,NaN,"The Sky's The Limit with this spacious, sunny ..."
525,446 Chauncey Street,Bedford-Stuyvesant,"$500,000",Condo,2.0,NaN,4.0,811,This condo checks every box on your wish list'...
526,135 Hawthorne Street,Lefferts Gardens,"$500,000",Co-op,NaN,NaN,3.0,850,"Impeccably renovated and incredibly spacious, ..."
527,599 East 7th Street,Kensington,"$499,000",Co-op,NaN,NaN,3.5,NaN,Big & Beautiful in Kensington! A Convertible 2...
528,220 Berkeley Place,Park Slope,"$499,000",Co-op,NaN,NaN,2.0,NaN,Private garage parking spot included! This sun...
529,805 5th Avenue,Greenwood,"$499,000",Condo,NaN,1.5,1.0,698,Once in a lifetime opportunity to own a Duplex...
530,811 Cortelyou Road,Kensington,"$499,000",Co-op,NaN,NaN,3.0,NaN,Prime Building in fantastic location! This cla...
531,2781 Ocean Avenue,Sheepshead Bay,"$499,000",Condo,2.0,NaN,4.0,NaN,Welcome to 2781 Ocean Avenue apt 4L. A very la...
532,185 Hall Street,Clinton Hill,"$499,000",Co-op,NaN,NaN,3.0,NaN,Enjoy glorious sunsets and outrageous panorami...
533,800 Ocean Parkway,Midwood,"$499,000",Co-op,2.0,NaN,4.0,NaN,"Welcome to 800 Ocean parkway apt 2C. A cozy, s..."
534,345 Lenox Road,Flatbush,"$499,000",Condo,NaN,NaN,3.0,680,"Introducing 345 Lenox Road, a stunning new add..."
535,385 East 18th Street,Ditmas Park,"$495,000",Co-op,NaN,NaN,4.0,NaN,A perfect space in the perfect place! Located ...
536,195 Willoughby Avenue,Clinton Hill,"$495,000",Co-op,NaN,NaN,3.0,NaN,"Looking for location, price and value. This Cl..."
537,1894 Pacific Street,Crown Heights,"$495,000",Condo,NaN,NaN,3.0,NaN,1894 Pacific Street is a new boutique condomin...
538,1894 Pacific Street,Crown Heights,"$495,000",Condo,1.0,1.0,3.0,592,1894 Pacific Street is a new boutique condomin...
539,1717 East 18th Street,Sheepshead Bay,"$491,000",Co-op,2.0,NaN,3.5,950,Homecrest coveted doorman elevator building. L...
540,195 Willoughby Avenue,Clinton Hill,"$490,000",Co-op,NaN,NaN,3.0,NaN,This Clinton Hill 1 bedroom is an impressive s...
541,1818 Newkirk Avenue,Ditmas Park,"$485,000",Co-op,NaN,NaN,4.0,NaN,Welcome home to this spacious and well configu...
542,439 Hicks Street,Cobble Hill,"$478,000",Condo,1.0,1.0,3.0,478,Newly renovated classic! Delightful one bedroo...
543,195 Willoughby Avenue,Clinton Hill,"$475,000",Co-op,NaN,NaN,3.0,NaN,This is a phenomenally configured 1-bedroom fi...
544,582 Throop Avenue,Bedford-Stuyvesant,"$450,000",Condo,NaN,NaN,3.0,NaN,Opportunity knocks at 582 Throop Avenue Condom...
545,130 Hicks Street,Brooklyn Heights,"$425,000",Co-op,NaN,NaN,2.0,NaN,Large sunny Brooklyn Heights studio for sale. ...
546,306 Garfield Place,Park Slope,"$424,950",Co-op,NaN,NaN,3.0,NaN,Location is beyond compare for this sun drench...
547,521 41st Street,Sunset Park,"$420,000",Co-op,1.0,1.0,3.0,560,BACK ON MARKET!!! Sunny and bright one bedroom...
548,179 Ocean Parkway,Kensington,"$415,000",Co-op,NaN,NaN,3.0,NaN,Look no more! Come home to this spacious and q...
549,1521 Bergen Street,Crown Heights,"$415,000",Co-op,2.0,NaN,4.0,917,1521 Bergen Street Unit 208 is a spacious two ...
550,80 Winthrop Street,Lefferts Gardens,"$410,000",Co-op,1.0,1.0,3.0,800,"Garden facing, sunny and spacious: Welcome hom..."
551,848 43rd Street,Sunset Park,"$400,000",Co-op,1.0,1.0,3.0,680,Large 680 sqft one bedroom apartment with Sout...
552,150 Joralemon Street,Brooklyn Heights,"$399,000",Co-op,NaN,NaN,1.0,NaN,You donâ€™t want to miss the SUPERB SUNNY views ...

In [4]:
rawdf.to_html('table2.html')

In [5]:
rawdf.dtypes

Address          object
Neighborhood     object
Price            object
Apt Type         object
Bedrooms        float64
Bathrooms       float64
Rooms           float64
Sqft             object
Description      object
dtype: object

In [6]:
rawdf.shape

(553, 9)

In [7]:
np.sum(rawdf.isnull())

Address           0
Neighborhood      0
Price             1
Apt Type          0
Bedrooms        104
Bathrooms       155
Rooms             5
Sqft            162
Description       0
dtype: int64

In [8]:
df1=rawdf.dropna(axis=0)

In [9]:
df1.shape

(302, 9)

In [10]:
df1

,Address,Neighborhood,Price,Apt Type,Bedrooms,Bathrooms,Rooms,Sqft,Description
1,8121 Shore Road,Bay Ridge,"$15,000,000",House,7.0,7.5,24.0,"10,010",A Phenomenal-Once in a Lifetime Opportunity to...
5,76 Pierrepont Street,Brooklyn Heights,"$6,950,000",Townhouse,8.0,9.0,16.0,"6,500",Rarely does such a show-stopping property come...
6,130 Furman Street,Brooklyn Heights,"$6,250,000",Condo,5.0,4.0,10.0,"4,731",IMMEDIATE OCCUPANCY! This Massive Sunny 5 Bedr...
7,130 Furman Street,Brooklyn Heights,"$5,750,000",Condo,3.0,3.5,6.0,"4,163",For Immediate Occupancy! This incredible 3 Bed...
8,672 Saint Marks Avenue,Crown Heights,"$5,300,000",Townhouse,7.0,7.0,25.0,"7,500","Introducing 672 St. Marks, An Architectural Ma..."
9,169 Hicks Street,Brooklyn Heights,"$5,300,000",Townhouse,6.0,4.0,13.0,"4,320",DOUBLE DUPLEX. Resting squarely within the Bro...
10,196 Hicks Street,Brooklyn Heights,"$5,250,000",Co-op,4.0,3.5,9.0,"2,801","An incredibly grand and elegant parlor floor, ..."
11,90 Furman Street,Brooklyn Heights,"$4,950,000",Condo,3.0,2.5,6.0,"3,081",IMMEDIATE OCCUPANCY! Over 90% sold out. This i...
13,848 President Street,Park Slope,"$4,750,000",Townhouse,8.0,5.0,18.0,"4,700",LIVE WELL AND PROSPER -\n848 President is a 5 ...
14,669 East 2nd Street,Kensington,"$4,750,000",Townhouse,10.0,6.5,19.0,"3,143",Welcome to The Kensington Villa at 669 East 2n...
17,815 5th Avenue,Greenwood,"$4,550,000",Townhouse,12.0,6.0,36.0,"4,560",Prime Corner Greenwood Development Site with u...
18,98 Degraw Street,Brooklyn,"$4,500,000",Townhouse,4.0,3.5,9.0,"3,412",Completed in 2018 by architect-developer Barre...
19,96 Degraw Street,Brooklyn,"$4,500,000",Townhouse,4.0,3.5,9.0,"3,412",Completed in 2018 by architect-developer Barre...
21,345 State Street,Boerum Hill,"$4,495,000",Townhouse,5.0,4.5,11.0,"3,600",Welcome to 345 State Street - This beautiful F...
22,112 2nd Place,Carroll Gardens,"$4,450,000",Townhouse,9.0,5.0,19.0,"5,000","112 Second Place, Carroll Gardens\nA rare and ..."
23,24 Middagh Street,Brooklyn Heights,"$4,300,000",Townhouse,7.0,5.0,15.0,"4,007","Known as the ""Queen of Brooklyn Heights"" 24 Mi..."
24,172 North 10th Street,Williamsburg,"$4,295,000",Condo,3.0,3.5,5.0,"2,318",360Â° Views + Wraparound Terrace = the Pinnacle...
26,236 President Street,Carroll Gardens,"$4,250,000",House,6.0,4.0,10.0,"3,485","Lofty and expansive 3,485 square foot carriage..."
27,145 Atlantic Avenue,Brooklyn Heights,"$4,250,000",Townhouse,4.0,3.5,12.0,"4,600",A developers dream! This Mixed-Use Brownstone ...
29,155 Grand Street,Williamsburg,"$3,999,000",Townhouse,5.0,2.5,10.0,"4,011",Prime Flagship Retail & Mixed-Use Property for...
30,212 Saint Johns Place,Park Slope,"$3,995,000",Townhouse,7.0,5.0,13.0,"4,458",PERFECT HARMONY. Previously owned by William G...
34,255 3rd Avenue,Gowanus,"$3,750,000",Townhouse,6.0,4.0,17.0,"5,200",The Gowanus is one of the hottest neighborhood...
37,105 8th Avenue,Park Slope,"$3,500,000",Condo,3.0,2.5,5.0,"2,694","PRICED UNDER $1300 PSF FOR PRIME PARK SLOPE, O..."
41,58 Metropolitan Avenue,Williamsburg,"$3,495,000",Condo,4.0,4.0,7.0,"2,438",Enjoy townhouse-like living with condo ameniti...
42,298 Clinton Avenue,Clinton Hill,"$3,495,000",Townhouse,6.0,5.0,16.0,"4,671",Step back in time to this breathtaking Federal...
43,194 MacDonough Street,Bedford-Stuyvesant,"$3,495,000",Townhouse,6.0,4.5,10.0,"3,650","""Wow"" is by far the most common reaction upon ..."
44,130 Furman Street,Brooklyn Heights,"$3,450,000",Condo,2.0,2.5,5.0,"2,182","IMMEDIATE OCCUPANCY! This awe-inspiring 2 Bed,..."
45,296 WASHINGTON AVENUE,Clinton Hill,"$3,450,000",Townhouse,6.0,4.0,12.0,"3,690",WIDE & TALL\n296 Washington Avenue is built wi...
46,11 Hoyt Street,Downtown Brooklyn,"$3,450,000",Condo,4.0,3.0,5.0,"1,926",Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...
47,390 Bergen Street,Park Slope,"$3,400,000",Townhouse,6.0,6.0,16.0,"3,600","A rare offering, one of Brooklyn's iconic brow..."
...,...,...,...,...,...,...,...,...,...
408,23 North Elliott Place,Fort Greene,"$795,000",Condo,1.5,1.5,3.0,958,GREENE THUMB GARDEN DUPLEX. Located in the Wal...
410,150 Ocean Parkway,Kensington,"$795,000",Condo,2.0,2.0,4.0,996,"A really LOVELY 2 bedroom, 2 bath CONDO on the..."
414,140 East 38th Street,Flatbush,"$779,000",Townhouse,5.0,4.0,9.0,"2,080",Welcome to 140 East 38th Street. This fully-de...
415,345 Lenox Road,Flatbush,"$779,000",Condo,2.0,2.0,4.0,994,"Introducing 345 Lenox Road, a stunning new add..."
421,1077 East 42nd Street,"FLATLANDS, USA","$750,000",House,3.0,2.0,8.0,"1,912",1077 East 42nd Street is located in the Flatla...
424,896 East 37th Street,Flatbush,"$749,999",Townhouse,3.0,2.0,9.0,"1,540",The Brooklyn Dream\nShowing By Appointment Onl...
425,781 East 9th Street,Kensington,"$749,000",Condo,2.0,2.0,4.0,"1,099",https://www.youtube.com/watch?v=02y-_HMiRbM\nB...
427,345 Lenox Road,Flatbush,"$749,000",Condo,2.0,2.0,4.0,990,"Introducing 345 Lenox Road, a stunning new add..."
430,852 East 7th Street,Kensington,"$745,000",Condo,2.0,2.0,4.0,"1,026","TWO FOR YOU. Sunny, well proportioned, 2 bedro..."
432,245 Henry Street,Brooklyn Heights,"$735,000",Co-op,1.0,1.0,3.0,715,Nestled in the heart of historic Brooklyn Heig...
433,139 Grove Street,Bushwick,"$725,000",Condo,2.0,2.0,4.0,915,Discover Contemporary Bushwick Luxury at 139 G...
434,3511 Snyder Avenue,"East Flatbush, USA","$725,000",Townhouse,5.0,3.0,10.0,"2,292",OPEN HOUSE WILL OFFER ACCESS TO 2ND FLOOR UNIT...
435,145 95th Street,Bay Ridge,"$725,000",Co-op,3.0,3.0,6.0,"1,690",Sprawling and Sun-drenched 1690 square ft. thr...
440,1609 Bergen Street,Crown Heights,"$700,000",Condo,3.0,2.0,7.0,"1,445","1609 Bergen Street, Apt 2, Crown Heights\nThis..."
441,26 Roosevelt Place,Bedford-Stuyvesant,"$700,000",Townhouse,5.0,3.0,8.0,"2,100",A legal two-family townhouse in the booming Oc...
443,672 Linden Boulevard,"East Flatbush, USA","$699,000",Townhouse,6.0,3.0,20.0,"2,080",Now Vacant.\nMust See Large Two Family Brick H...
447,697 Monroe Street,Bedford-Stuyvesant,"$699,000",Condo,2.0,1.5,4.0,815,"Discover 697 Monroe Street, an utterly luxurio..."
453,853 Herkimer Street,Bedford-Stuyvesant,"$695,000",Townhouse,3.0,3.0,8.0,"1,600",This charming 16.67X32 frame home is situated ...
455,325 Clinton Avenue,Clinton Hill,"$695,000",Co-op,1.0,1.0,3.5,791,BACK ON MARKET with Amazing Views of Brooklyn!...
456,601 Crown Street,Crown Heights,"$695,000",Condo,2.0,2.0,4.0,920,The Brooklyn Crown Condominiums at 601 Crown S...
462,512 East 34th Street,Flatbush,"$684,995",House,3.0,2.5,6.0,"1,118",Calling all savvy buyers!!! If you are looking...
469,2511 Ocean Avenue,Sheepshead Bay,"$650,000",Condo,2.0,2.0,5.0,"1,165",Welcome to 2511 Ocean Avenue Apt 304 spanning ...
477,134 Quincy Street,Clinton Hill,"$625,000",Condo,1.0,1.0,3.0,563,Welcome to 134 Quincy - a 6 unit boutique new ...
488,205 15th Street,Park Slope,"$599,000",Condo,1.0,1.0,4.0,575,Yes you really can have the the best of classi...
522,1570 Prospect Place,Crown Heights,"$525,000",Condo,2.0,2.0,4.0,911,The Crown Jewel\n\n1570 Prospect Place Unit 2F...
538,1894 Pacific Street,Crown Heights,"$495,000",Condo,1.0,1.0,3.0,592,1894 Pacific Street is a new boutique condomin...
542,439 Hicks Street,Cobble Hill,"$478,000",Condo,1.0,1.0,3.0,478,Newly renovated classic! Delightful one bedroo...
547,521 41st Street,Sunset Park,"$420,000",Co-op,1.0,1.0,3.0,560,BACK ON MARKET!!! Sunny and bright one bedroom...
550,80 Winthrop Street,Lefferts Gardens,"$410,000",Co-op,1.0,1.0,3.0,800,"Garden facing, sunny and spacious: Welcome hom..."
551,848 43rd Street,Sunset Park,"$400,000",Co-op,1.0,1.0,3.0,680,Large 680 sqft one bedroom apartment with Sout...

In [11]:
df1["Price"]=list(map(lambda x: x.replace(',',''.strip()),df1["Price"]))
df1["Price"]=list(map(lambda x: x.replace('$',''.strip()),df1["Price"]))
df1["Price"]=df1["Price"].astype('int')
df1["Sqft"]=list(map(lambda x: x.replace(',',''.strip()),df1["Sqft"]))
df1["Sqft"]=df1["Sqft"].astype('int')
df1["$/Sqft"]=df1["Price"]/df1['Sqft']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
df1

,Address,Neighborhood,Price,Apt Type,Bedrooms,Bathrooms,Rooms,Sqft,Description,$/Sqft
1,8121 Shore Road,Bay Ridge,15000000,House,7.0,7.5,24.0,10010,A Phenomenal-Once in a Lifetime Opportunity to...,1498.501499
5,76 Pierrepont Street,Brooklyn Heights,6950000,Townhouse,8.0,9.0,16.0,6500,Rarely does such a show-stopping property come...,1069.230769
6,130 Furman Street,Brooklyn Heights,6250000,Condo,5.0,4.0,10.0,4731,IMMEDIATE OCCUPANCY! This Massive Sunny 5 Bedr...,1321.073769
7,130 Furman Street,Brooklyn Heights,5750000,Condo,3.0,3.5,6.0,4163,For Immediate Occupancy! This incredible 3 Bed...,1381.215470
8,672 Saint Marks Avenue,Crown Heights,5300000,Townhouse,7.0,7.0,25.0,7500,"Introducing 672 St. Marks, An Architectural Ma...",706.666667
9,169 Hicks Street,Brooklyn Heights,5300000,Townhouse,6.0,4.0,13.0,4320,DOUBLE DUPLEX. Resting squarely within the Bro...,1226.851852
10,196 Hicks Street,Brooklyn Heights,5250000,Co-op,4.0,3.5,9.0,2801,"An incredibly grand and elegant parlor floor, ...",1874.330596
11,90 Furman Street,Brooklyn Heights,4950000,Condo,3.0,2.5,6.0,3081,IMMEDIATE OCCUPANCY! Over 90% sold out. This i...,1606.621227
13,848 President Street,Park Slope,4750000,Townhouse,8.0,5.0,18.0,4700,LIVE WELL AND PROSPER -\n848 President is a 5 ...,1010.638298
14,669 East 2nd Street,Kensington,4750000,Townhouse,10.0,6.5,19.0,3143,Welcome to The Kensington Villa at 669 East 2n...,1511.294941
17,815 5th Avenue,Greenwood,4550000,Townhouse,12.0,6.0,36.0,4560,Prime Corner Greenwood Development Site with u...,997.807018
18,98 Degraw Street,Brooklyn,4500000,Townhouse,4.0,3.5,9.0,3412,Completed in 2018 by architect-developer Barre...,1318.874560
19,96 Degraw Street,Brooklyn,4500000,Townhouse,4.0,3.5,9.0,3412,Completed in 2018 by architect-developer Barre...,1318.874560
21,345 State Street,Boerum Hill,4495000,Townhouse,5.0,4.5,11.0,3600,Welcome to 345 State Street - This beautiful F...,1248.611111
22,112 2nd Place,Carroll Gardens,4450000,Townhouse,9.0,5.0,19.0,5000,"112 Second Place, Carroll Gardens\nA rare and ...",890.000000
23,24 Middagh Street,Brooklyn Heights,4300000,Townhouse,7.0,5.0,15.0,4007,"Known as the ""Queen of Brooklyn Heights"" 24 Mi...",1073.122036
24,172 North 10th Street,Williamsburg,4295000,Condo,3.0,3.5,5.0,2318,360Â° Views + Wraparound Terrace = the Pinnacle...,1852.890423
26,236 President Street,Carroll Gardens,4250000,House,6.0,4.0,10.0,3485,"Lofty and expansive 3,485 square foot carriage...",1219.512195
27,145 Atlantic Avenue,Brooklyn Heights,4250000,Townhouse,4.0,3.5,12.0,4600,A developers dream! This Mixed-Use Brownstone ...,923.913043
29,155 Grand Street,Williamsburg,3999000,Townhouse,5.0,2.5,10.0,4011,Prime Flagship Retail & Mixed-Use Property for...,997.008227
30,212 Saint Johns Place,Park Slope,3995000,Townhouse,7.0,5.0,13.0,4458,PERFECT HARMONY. Previously owned by William G...,896.141768
34,255 3rd Avenue,Gowanus,3750000,Townhouse,6.0,4.0,17.0,5200,The Gowanus is one of the hottest neighborhood...,721.153846
37,105 8th Avenue,Park Slope,3500000,Condo,3.0,2.5,5.0,2694,"PRICED UNDER $1300 PSF FOR PRIME PARK SLOPE, O...",1299.183370
41,58 Metropolitan Avenue,Williamsburg,3495000,Condo,4.0,4.0,7.0,2438,Enjoy townhouse-like living with condo ameniti...,1433.552092
42,298 Clinton Avenue,Clinton Hill,3495000,Townhouse,6.0,5.0,16.0,4671,Step back in time to this breathtaking Federal...,748.233783
43,194 MacDonough Street,Bedford-Stuyvesant,3495000,Townhouse,6.0,4.5,10.0,3650,"""Wow"" is by far the most common reaction upon ...",957.534247
44,130 Furman Street,Brooklyn Heights,3450000,Condo,2.0,2.5,5.0,2182,"IMMEDIATE OCCUPANCY! This awe-inspiring 2 Bed,...",1581.118240
45,296 WASHINGTON AVENUE,Clinton Hill,3450000,Townhouse,6.0,4.0,12.0,3690,WIDE & TALL\n296 Washington Avenue is built wi...,934.959350
46,11 Hoyt Street,Downtown Brooklyn,3450000,Condo,4.0,3.0,5.0,1926,Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...,1791.277259
47,390 Bergen Street,Park Slope,3400000,Townhouse,6.0,6.0,16.0,3600,"A rare offering, one of Brooklyn's iconic brow...",944.444444
...,...,...,...,...,...,...,...,...,...,...
408,23 North Elliott Place,Fort Greene,795000,Condo,1.5,1.5,3.0,958,GREENE THUMB GARDEN DUPLEX. Located in the Wal...,829.853862
410,150 Ocean Parkway,Kensington,795000,Condo,2.0,2.0,4.0,996,"A really LOVELY 2 bedroom, 2 bath CONDO on the...",798.192771
414,140 East 38th Street,Flatbush,779000,Townhouse,5.0,4.0,9.0,2080,Welcome to 140 East 38th Street. This fully-de...,374.519231
415,345 Lenox Road,Flatbush,779000,Condo,2.0,2.0,4.0,994,"Introducing 345 Lenox Road, a stunning new add...",783.702213
421,1077 East 42nd Street,"FLATLANDS, USA",750000,House,3.0,2.0,8.0,1912,1077 East 42nd Street is located in the Flatla...,392.259414
424,896 East 37th Street,Flatbush,749999,Townhouse,3.0,2.0,9.0,1540,The Brooklyn Dream\nShowing By Appointment Onl...,487.012338
425,781 East 9th Street,Kensington,749000,Condo,2.0,2.0,4.0,1099,https://www.youtube.com/watch?v=02y-_HMiRbM\nB...,681.528662
427,345 Lenox Road,Flatbush,749000,Condo,2.0,2.0,4.0,990,"Introducing 345 Lenox Road, a stunning new add...",756.565657
430,852 East 7th Street,Kensington,745000,Condo,2.0,2.0,4.0,1026,"TWO FOR YOU. Sunny, well proportioned, 2 bedro...",726.120858
432,245 Henry Street,Brooklyn Heights,735000,Co-op,1.0,1.0,3.0,715,Nestled in the heart of historic Brooklyn Heig...,1027.972028
433,139 Grove Street,Bushwick,725000,Condo,2.0,2.0,4.0,915,Discover Contemporary Bushwick Luxury at 139 G...,792.349727
434,3511 Snyder Avenue,"East Flatbush, USA",725000,Townhouse,5.0,3.0,10.0,2292,OPEN HOUSE WILL OFFER ACCESS TO 2ND FLOOR UNIT...,316.317627
435,145 95th Street,Bay Ridge,725000,Co-op,3.0,3.0,6.0,1690,Sprawling and Sun-drenched 1690 square ft. thr...,428.994083
440,1609 Bergen Street,Crown Heights,700000,Condo,3.0,2.0,7.0,1445,"1609 Bergen Street, Apt 2, Crown Heights\nThis...",484.429066
441,26 Roosevelt Place,Bedford-Stuyvesant,700000,Townhouse,5.0,3.0,8.0,2100,A legal two-family townhouse in the booming Oc...,333.333333
443,672 Linden Boulevard,"East Flatbush, USA",699000,Townhouse,6.0,3.0,20.0,2080,Now Vacant.\nMust See Large Two Family Brick H...,336.057692
447,697 Monroe Street,Bedford-Stuyvesant,699000,Condo,2.0,1.5,4.0,815,"Discover 697 Monroe Street, an utterly luxurio...",857.668712
453,853 Herkimer Street,Bedford-Stuyvesant,695000,Townhouse,3.0,3.0,8.0,1600,This charming 16.67X32 frame home is situated ...,434.375000
455,325 Clinton Avenue,Clinton Hill,695000,Co-op,1.0,1.0,3.5,791,BACK ON MARKET with Amazing Views of Brooklyn!...,878.634640
456,601 Crown Street,Crown Heights,695000,Condo,2.0,2.0,4.0,920,The Brooklyn Crown Condominiums at 601 Crown S...,755.434783
462,512 East 34th Street,Flatbush,684995,House,3.0,2.5,6.0,1118,Calling all savvy buyers!!! If you are looking...,612.696780
469,2511 Ocean Avenue,Sheepshead Bay,650000,Condo,2.0,2.0,5.0,1165,Welcome to 2511 Ocean Avenue Apt 304 spanning ...,557.939914
477,134 Quincy Street,Clinton Hill,625000,Condo,1.0,1.0,3.0,563,Welcome to 134 Quincy - a 6 unit boutique new ...,1110.124334
488,205 15th Street,Park Slope,599000,Condo,1.0,1.0,4.0,575,Yes you really can have the the best of classi...,1041.739130
522,1570 Prospect Place,Crown Heights,525000,Condo,2.0,2.0,4.0,911,The Crown Jewel\n\n1570 Prospect Place Unit 2F...,576.289791
538,1894 Pacific Street,Crown Heights,495000,Condo,1.0,1.0,3.0,592,1894 Pacific Street is a new boutique condomin...,836.148649
542,439 Hicks Street,Cobble Hill,478000,Condo,1.0,1.0,3.0,478,Newly renovated classic! Delightful one bedroo...,1000.000000
547,521 41st Street,Sunset Park,420000,Co-op,1.0,1.0,3.0,560,BACK ON MARKET!!! Sunny and bright one bedroom...,750.000000
550,80 Winthrop Street,Lefferts Gardens,410000,Co-op,1.0,1.0,3.0,800,"Garden facing, sunny and spacious: Welcome hom...",512.500000
551,848 43rd Street,Sunset Park,400000,Co-op,1.0,1.0,3.0,680,Large 680 sqft one bedroom apartment with Sout...,588.235294

In [13]:
df1.dtypes

Address          object
Neighborhood     object
Price             int64
Apt Type         object
Bedrooms        float64
Bathrooms       float64
Rooms           float64
Sqft              int64
Description      object
$/Sqft          float64
dtype: object

In [14]:
df1["Neighborhood"].unique()

array(['Bay Ridge', 'Brooklyn Heights', 'Crown Heights', 'Park Slope',
       'Kensington', 'Greenwood', 'Brooklyn', 'Boerum Hill',
       'Carroll Gardens', 'Williamsburg', 'Gowanus', 'Clinton Hill',
       'Bedford-Stuyvesant', 'Downtown Brooklyn', 'Red Hook',
       'Cobble Hill', 'Prospect Park South', 'Fort Greene',
       'Prospect Heights', 'Greenpoint', 'Lefferts Gardens', 'Bushwick',
       'Windsor Terrace', 'Ditmas Park', 'Sunset Park',
       'DUMBO/Vinegar Hill', 'Brighton Beach', 'Flatbush',
       'EAST NEW YORK, USA', 'Sheepshead Bay', 'Bensonhurst',
       'Coney Island', 'CANARSIE, USA', 'FLATLANDS, USA',
       'East Flatbush, USA'], dtype=object)

In [15]:
df1.describe()

,Price,Bedrooms,Bathrooms,Rooms,Sqft,$/Sqft
count,3.020000e+02,302.000000,302.000000,302.000000,302.000000,302.000000
mean,1.938495e+06,3.652318,2.759934,7.448675,2070.125828,1007.238664
std,1.340338e+06,2.140414,1.291867,4.591974,1277.892684,385.710076
min,4.000000e+05,1.000000,1.000000,3.000000,478.000000,186.403509
25%,1.081500e+06,2.000000,2.000000,4.000000,1200.000000,722.656250
50%,1.672500e+06,3.000000,2.500000,6.000000,1611.500000,994.090005
75%,2.483750e+06,5.000000,3.500000,10.000000,2787.000000,1277.513372
max,1.500000e+07,12.000000,9.000000,36.000000,10010.000000,2047.556143

In [16]:
df1['Price'].sum()/df1['Sqft'].sum()

936.4142356256938

In [17]:
grouphood=df1.groupby("Neighborhood")
for apt in grouphood:
    print (apt)

('Bay Ridge',                  Address Neighborhood     Price   Apt Type  Bedrooms  \
1        8121 Shore Road    Bay Ridge  15000000      House       7.0
268  615 Ovington Avenue    Bay Ridge   1250000      Condo       3.0
281      458 72nd Street    Bay Ridge   1200000  Townhouse       4.0
374      9917 Shore Road    Bay Ridge    888000      Condo       2.0
435      145 95th Street    Bay Ridge    725000      Co-op       3.0

     Bathrooms  Rooms   Sqft  \
1          7.5   24.0  10010
268        3.0    5.0   2788
281        3.0   10.0   2730
374        2.0    4.0   1025
435        3.0    6.0   1690

                                           Description       $/Sqft
1    A Phenomenal-Once in a Lifetime Opportunity to...  1498.501499
268  Sleek, contemporary and absolutely gorgeous th...   448.350072
281  Newly listed!! This beautiful two-family brick...   439.560440
374  9917 Shore Road #4A-Now available for sale is ...   866.341463
435  Sprawling and Sun-drenched 1690 square ft. thr...   428.994083  )
('Bedford-Stuyvesant',                    Address        Neighborhood    Price   Apt Type  Bedrooms  \
43   194 MacDonough Street  Bedford-Stuyvesant  3495000  Townhouse       6.0
78       168 Monroe Street  Bedford-Stuyvesant  2795000  Townhouse       6.0
82    364 Jefferson Avenue  Bedford-Stuyvesant  2750000  Townhouse       6.0
92       547 Throop Avenue  Bedford-Stuyvesant  2550000  Townhouse       7.0
97        249 Macon Street  Bedford-Stuyvesant  2499000  Townhouse       6.0
98        285 Macon Street  Bedford-Stuyvesant  2495000  Townhouse       7.0
106     314 Decatur Street  Bedford-Stuyvesant  2375000  Townhouse       6.0
110       188 VAN BUREN ST  Bedford-Stuyvesant  2295000  Townhouse       5.0
128     226A Vernon Avenue  Bedford-Stuyvesant  2095000  Townhouse       4.0
142     192 Madison Street  Bedford-Stuyvesant  1995000  Townhouse       8.0
151     63 Chauncey Street  Bedford-Stuyvesant  1900000  Townhouse       5.0
161     310 Decatur Street  Bedford-Stuyvesant  1799000  Townhouse       4.0
162        176 Hart Street  Bedford-Stuyvesant  1799000  Townhouse       8.0
164     139 Madison Street  Bedford-Stuyvesant  1795000  Townhouse       7.0
172     577 Decatur Street  Bedford-Stuyvesant  1750000  Townhouse       8.0
177      282 Clifton Place  Bedford-Stuyvesant  1750000      Condo       3.0
186      563 Putnam Avenue  Bedford-Stuyvesant  1699000  Townhouse       6.0
187      282 Clifton Place  Bedford-Stuyvesant  1695000      Condo       4.0
191    373 Herkimer Street  Bedford-Stuyvesant  1685000  Townhouse       4.0
211    468 Chauncey Street  Bedford-Stuyvesant  1549000  Townhouse       7.0
245       811 Marcy Avenue  Bedford-Stuyvesant  1375000  Townhouse       8.0
261      328 Quincy Street  Bedford-Stuyvesant  1295000  Townhouse       6.0
275        311 Hart Street  Bedford-Stuyvesant  1249000      Condo       3.0
276     1909 Bergen Street  Bedford-Stuyvesant  1245000  Townhouse       6.0
286  122 Stuyvesant Avenue  Bedford-Stuyvesant  1195000  Townhouse       4.0
288      933 Greene Avenue  Bedford-Stuyvesant  1195000  Townhouse       5.0
309      85 Sackman Street  Bedford-Stuyvesant  1089000  Townhouse       5.0
313       315 Gates Avenue  Bedford-Stuyvesant  1075000      Condo       2.0
317     488 Madison Street  Bedford-Stuyvesant   999000      Condo       2.0
323      697 Monroe Street  Bedford-Stuyvesant   999000      Condo       2.0
330        311 Hart Street  Bedford-Stuyvesant   995000      Condo       2.0
338    230 Tompkins Avenue  Bedford-Stuyvesant   975000  Townhouse       6.0
350        226 Hart Street  Bedford-Stuyvesant   949000      Condo       1.5
391        226 Hart Street  Bedford-Stuyvesant   849000      Condo       2.0
396      667 Putnam Avenue  Bedford-Stuyvesant   829000      Condo       2.0
441     26 Roosevelt Place  Bedford-Stuyvesant   700000  Townhouse       5.0
447      697 Monroe Street  Bedford-Stuyvesant   699000      Condo       2.0
453    853 Herkimer Street  Bedford-Stuyvesant   695000  Townhouse       3.0

     Bathrooms  Rooms  Sqft  \
43         4.5   10.0  3650
78         4.5   12.0  3200
82         4.0   11.0  3895
92         7.0   11.0  4680
97         5.5   10.0  3420
98         4.0   20.0  3200
106        4.0   13.0  3200
110        4.5   10.0  3600
128        4.0   10.0  2406
142        3.5   12.0  3200
151        4.0   12.0  2784
161        3.5    7.0  1980
162        4.0   20.0  2940
164        7.0    8.0  3680
172        4.0   10.0  3600
177        2.5    5.0  1714
186        3.5   11.0  3148
187        2.5    6.0  2037
191        3.5    8.0  3024
211        2.5   14.0  2200
245        3.0   14.0  3758
261        3.0    9.0  2280
275        2.5    5.0  1450
276        3.5    8.0  2060
286        3.0    9.0  1689
288        3.5   10.0  2880
309        4.0   10.0  2088
313        1.5    4.0  1174
317        2.0    5.0  1431
323        2.5    4.0  1750
330        2.0    4.0  1087
338        2.0   10.0  1500
350        1.5    3.5  1290
391        1.5    4.0   876
396        1.5    4.0   777
441        3.0    8.0  2100
447        1.5    4.0   815
453        3.0    8.0  1600

                                           Description       $/Sqft
43   "Wow" is by far the most common reaction upon ...   957.534247
78   Live in this elegantly new constructed, 3200 s...   873.437500
82   IT HAD TO BE YOU... Once in a while you find s...   706.033376
92   547 Throop Avenue is a well-kept mixed-use bro...   544.871795
97   249 Macon Street is a newly renovated two-fami...   730.701754
98   Welcome to 285 Macon Street - the perfect livi...   779.687500
106  The dream of owning a magnificently redone Bro...   742.187500
110  BACK ON THE MARKET!! This gorgeous, thoughtful...   637.500000
128  Welcome to 226A Vernon Avenue; a bespoke, luxu...   870.739817
142  BROOKLYN LIVING REIMAGINED\n192 Madison Street...   623.437500
151  A Historical Brownstone You Won't Soon Forget....   682.471264
161  Welcome to 310 Decatur street â€“ a Handsome Fou...   908.585859
162  The Parker Team of the Corcoran Group has been...   611.904762
164  Introducing 139 Madison Street. This extraordi...   487.771739
172  577 Decatur Street AKA 148 â€“ 156 Howard Ave is...   486.111111
177  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...  1021.003501
186  Welcome to 563 Putnam avenue â€“ a Handsome Four...   539.707751
187  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   832.106038
191  Herkimer Hottie!\nThis priced to SELL townhous...   557.208995
211  Welcome home to 468 Chauncey Street, where his...   704.090909
245  Easy showings by private appointment. INVESTOR...   365.886110
261  A WORTHY INVESTMENT\nIf youâ€™re looking to make...   567.982456
275  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   861.379310
276  1909 Bergen Street is a tastefully renovated t...   604.368932
286  Introducing this two family property located a...   707.519242
288  MAKE YOUR SPACE\nShowing BY APPOINTMENT ONLY O...   414.930556
309  Welcome home to 85 Sackman Street- where space...   521.551724
313  A Garden Paradise\n315 Gates is a beautiful si...   915.672913
317  Yona Condos Unit 1 is an exquisite 2-bed, 2-ba...   698.113208
323  Duplex with Private Garden! 1,750 square foot ...   570.857143
330  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   915.363385
338  230 Tompkins Avenue is currently a vacant two ...   650.000000
350  At the border of Bedford Stuyvesant and Bushwi...   735.658915
391  At the border of Bedford Stuyvesant and Bushwi...   969.178082
396  Introducing 667 Putnam Ave, a stunning new dev...  1066.924067
441  A legal two-family townhouse in the booming Oc...   333.333333
447  Discover 697 Monroe Street, an utterly luxurio...   857.668712
453  This charming 16.67X32 frame home is situated ...   434.375000  )
('Bensonhurst',                   Address Neighborhood   Price Apt Type  Bedrooms  Bathrooms  \
356  1414 West 4th Street  Bensonhurst  925000    Condo       3.0        2.0
362  1414 West 4th Street  Bensonhurst  899000    Condo       3.0        2.0

     Rooms  Sqft                                        Description  \
356    5.0  1280  Price Improvement!!\nPH6 at The Jade Condomini...
362    5.0  1223  -- OFFER ACCEPTED -- Only TWO apartments remai...

         $/Sqft
356  722.656250
362  735.077678  )
('Boerum Hill',                Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
21    345 State Street  Boerum Hill  4495000  Townhouse       5.0        4.5
53     324 Dean Street  Boerum Hill  3250000      Condo       3.0        3.0
65    265 State Street  Boerum Hill  2995000      Condo       3.0        2.5
163  160 Nevins Street  Boerum Hill  1795000  Townhouse       4.0        2.0
352  373 Baltic Street  Boerum Hill   945000      Condo       2.0        2.0

     Rooms  Sqft                                        Description  \
21    11.0  3600  Welcome to 345 State Street - This beautiful F...
53     7.0  2035  You step out from your personally controlled e...
65     5.0  1629  Located in the crown of the building, with ope...
163    9.0  1720  NEW PRICE. Built in the late 1860â€™s in the Gre...
352    3.0   977  In a four-unit condo in the heart of Boerum Hi...

          $/Sqft
21   1248.611111
53   1597.051597
65   1838.551258
163  1043.604651
352   967.246673  )
('Brighton Beach',                    Address    Neighborhood    Price Apt Type  Bedrooms  \
274  150 Oceana Drive West  Brighton Beach  1249000    Condo       3.0

     Bathrooms  Rooms  Sqft  \
274        3.0    8.0  1563

                                           Description      $/Sqft
274  Welcome home to breathtaking views of the beac...  799.104287  )
('Brooklyn',              Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
18  98 Degraw Street     Brooklyn  4500000  Townhouse       4.0        3.5
19  96 Degraw Street     Brooklyn  4500000  Townhouse       4.0        3.5

    Rooms  Sqft                                        Description      $/Sqft
18    9.0  3412  Completed in 2018 by architect-developer Barre...  1318.87456
19    9.0  3412  Completed in 2018 by architect-developer Barre...  1318.87456  )
('Brooklyn Heights',                   Address      Neighborhood    Price   Apt Type  Bedrooms  \
5    76 Pierrepont Street  Brooklyn Heights  6950000  Townhouse       8.0
6       130 Furman Street  Brooklyn Heights  6250000      Condo       5.0
7       130 Furman Street  Brooklyn Heights  5750000      Condo       3.0
9        169 Hicks Street  Brooklyn Heights  5300000  Townhouse       6.0
10       196 Hicks Street  Brooklyn Heights  5250000      Co-op       4.0
11       90 Furman Street  Brooklyn Heights  4950000      Condo       3.0
23      24 Middagh Street  Brooklyn Heights  4300000  Townhouse       7.0
27    145 Atlantic Avenue  Brooklyn Heights  4250000  Townhouse       4.0
44      130 Furman Street  Brooklyn Heights  3450000      Condo       2.0
52       72 Poplar Street  Brooklyn Heights  3250000      Condo       3.0
59       90 Furman Street  Brooklyn Heights  3145000      Condo       2.0
77      360 Furman Street  Brooklyn Heights  2800000      Condo       3.0
108     360 Furman Street  Brooklyn Heights  2350000      Condo       3.0
134     360 Furman Street  Brooklyn Heights  1999000      Condo       2.0
158     360 Furman Street  Brooklyn Heights  1825000      Condo       2.0
159     360 Furman Street  Brooklyn Heights  1825000      Condo       2.0
182  75 Livingston Street  Brooklyn Heights  1699000      Co-op       2.0
184     360 Furman Street  Brooklyn Heights  1699000      Condo       2.0
185     360 Furman Street  Brooklyn Heights  1699000      Condo       2.0
212     360 Furman Street  Brooklyn Heights  1545000      Condo       2.0
251     360 Furman Street  Brooklyn Heights  1325000      Condo       2.0
333     360 Furman Street  Brooklyn Heights   995000      Condo       1.0
342     360 Furman Street  Brooklyn Heights   970000      Condo       1.0
432      245 Henry Street  Brooklyn Heights   735000      Co-op       1.0

     Bathrooms  Rooms  Sqft  \
5          9.0   16.0  6500
6          4.0   10.0  4731
7          3.5    6.0  4163
9          4.0   13.0  4320
10         3.5    9.0  2801
11         2.5    6.0  3081
23         5.0   15.0  4007
27         3.5   12.0  4600
44         2.5    5.0  2182
52         3.0    6.0  1987
59         2.5    4.0  1814
77         3.0    8.0  2281
108        2.0    8.0  1847
134        2.0    4.0  1430
158        2.0    4.0  1433
159        2.0    4.0  1394
182        2.0    4.0  1550
184        2.0    4.0  1386
185        2.0    4.0  1430
212        2.0    4.0  1214
251        2.0    4.0  1205
333        1.0    3.0   822
342        1.0    3.0   782
432        1.0    3.0   715

                                           Description       $/Sqft
5    Rarely does such a show-stopping property come...  1069.230769
6    IMMEDIATE OCCUPANCY! This Massive Sunny 5 Bedr...  1321.073769
7    For Immediate Occupancy! This incredible 3 Bed...  1381.215470
9    DOUBLE DUPLEX. Resting squarely within the Bro...  1226.851852
10   An incredibly grand and elegant parlor floor, ...  1874.330596
11   IMMEDIATE OCCUPANCY! Over 90% sold out. This i...  1606.621227
23   Known as the "Queen of Brooklyn Heights" 24 Mi...  1073.122036
27   A developers dream! This Mixed-Use Brownstone ...   923.913043
44   IMMEDIATE OCCUPANCY! This awe-inspiring 2 Bed,...  1581.118240
52   With abundant south and west-facing windows, t...  1635.631605
59   Brand new price improvement, and N808 purchase...  1733.737596
77   *** OWNER SAYS SELL***\nSensationally, Stunnin...  1227.531784
108  ***PRICED TO SELL***\nCurrently laid out as a ...  1272.333514
134  STUNNING VIEWS from this spectacular 2 Bedroom...  1397.902098
158  The LOWEST price per SF for the incredible HAR...  1273.551989
159  *** Owner says sell ***\nCome and see this won...  1309.182209
182  Unit 9E at 75 Livingston Street is a spacious,...  1096.129032
184  Welcome to OBB 605, a stunning and spacious tw...  1225.829726
185  *** WONDERFUL DEAL AT OBBP ***\nStunning 1430 ...  1188.111888
212  Rare and renovated to perfection, this excepti...  1272.652389
251  Come see this STUNNING 1 Bedroom + HUGE H/O, 2...  1099.585062
333  ***MAKE AN OFFER***\nA Stunning 822 approx s/f...  1210.462287
342  A Stunning 782 approx s/f one bedroom designer...  1240.409207
432  Nestled in the heart of historic Brooklyn Heig...  1027.972028  )
('Bushwick',                       Address Neighborhood    Price   Apt Type  Bedrooms  \
103             1639 Broadway     Bushwick  2449000  Townhouse      12.0
165          69 Eldert Street     Bushwick  1795000  Townhouse      11.0
169       656 Chauncey Street     Bushwick  1750000  Townhouse       5.0
188        1074 Halsey Street     Bushwick  1695000  Townhouse       5.0
190      137 Weirfield Street     Bushwick  1694000  Townhouse       6.0
262       648 Chauncey Street     Bushwick  1289000      House       5.0
263        1343 Greene Avenue     Bushwick  1275000      House       7.0
273         360 Wilson Avenue     Bushwick  1249995  Townhouse       6.0
305  318 Knickerbocker Avenue     Bushwick  1099000      Condo       2.0
306       439 Bushwick Avenue     Bushwick  1099000  Townhouse       3.0
367          139 Grove Street     Bushwick   895000      Condo       1.0
433          139 Grove Street     Bushwick   725000      Condo       2.0

     Bathrooms  Rooms  Sqft  \
103        6.5   24.0  7325
165        3.5   14.0  3240
169        4.5   10.0  3667
188        5.0   11.0  3276
190        6.0   12.0  5880
262        5.0   10.0  2295
263        2.0    9.0  1600
273        4.0   12.0  2930
305        2.0    6.0  1221
306        2.0    5.0  2200
367        1.5    4.0  1556
433        2.0    4.0   915

                                           Description      $/Sqft
103  The mixed use property at 1639 Broadway is pos...  334.334471
165  69 Eldert Street is an income producing 3 fami...  554.012346
169  An enormous 3700 square foot opportunity await...  477.229343
188  This perfectly located townhouse in Bushwick h...  517.399267
190  Welcome to 137 Weirfield Street, at nearly 600...  288.095238
262  648 Chauncey Street is an elegant two-family h...  561.655773
263  Welcome to this 2 family townhouse in good con...  796.875000
273  Double duplex dream come true- live and invest...  426.619454
305  Killer 2 Bedroom/2 Bathroom Duplex Condo!\n*Ov...  900.081900
306  This one of a kind, mixed use building is loca...  499.545455
367  Discover Contemporary Bushwick Luxury at 139 G...  575.192802
433  Discover Contemporary Bushwick Luxury at 139 G...  792.349727  )
('CANARSIE, USA',                      Address   Neighborhood   Price   Apt Type  Bedrooms  \
387  17 Paerdegat 6th Street  CANARSIE, USA  850000  Townhouse       5.0

     Bathrooms  Rooms  Sqft  \
387        3.0   13.0  2100

                                           Description      $/Sqft
387  Welcome to 17 Paerdegat 6th Street, drive up t...  404.761905  )
('Carroll Gardens',                   Address     Neighborhood    Price   Apt Type  Bedrooms  \
22          112 2nd Place  Carroll Gardens  4450000  Townhouse       9.0
26   236 President Street  Carroll Gardens  4250000      House       6.0
54       291 Union Street  Carroll Gardens  3250000      Condo       3.0
55       291 Union Street  Carroll Gardens  3225000      Condo       4.0
57          59 RAPELYE ST  Carroll Gardens  3195000  Townhouse       5.0
80       291 Union Street  Carroll Gardens  2750000      Condo       3.0
395          98 2nd Place  Carroll Gardens   835000      Co-op       1.0

     Bathrooms  Rooms  Sqft  \
22         5.0   19.0  5000
26         4.0   10.0  3485
54         3.0    6.0  1853
55         3.0    7.0  2304
57         6.0    9.0  3217
80         3.0    3.0  1881
395        1.0    3.0   760

                                           Description       $/Sqft
22   112 Second Place, Carroll Gardens\nA rare and ...   890.000000
26   Lofty and expansive 3,485 square foot carriage...  1219.512195
54   This dramatic three-bedroom, three bath condo ...  1753.912574
55   Rare and distinctive, 23ft wide, four-bedroom,...  1399.739583
57   This stunning, one-of-a-kind Columbia Waterfro...   993.161330
80   PARKING INCLUDED! The perfect combination of s...  1461.988304
395  Let me count the ways you'll fall in love with...  1098.684211  )
('Clinton Hill',                    Address  Neighborhood    Price   Apt Type  Bedrooms  \
42      298 Clinton Avenue  Clinton Hill  3495000  Townhouse       6.0
45   296 WASHINGTON AVENUE  Clinton Hill  3450000  Townhouse       6.0
76   294 Saint James Place  Clinton Hill  2800000  Townhouse       5.0
90       21 Brevoort Place  Clinton Hill  2600000  Townhouse       7.0
96         971 Kent Avenue  Clinton Hill  2500000  Townhouse       7.0
117     191 Lefferts Place  Clinton Hill  2200000  Townhouse       7.0
168      347 Greene Avenue  Clinton Hill  1769000      Condo       2.0
315      149 Clifton Place  Clinton Hill  1035000      Condo       2.0
373        970 Kent Avenue  Clinton Hill   889000      Condo       1.5
455     325 Clinton Avenue  Clinton Hill   695000      Co-op       1.0
477      134 Quincy Street  Clinton Hill   625000      Condo       1.0

     Bathrooms  Rooms  Sqft  \
42         5.0   16.0  4671
45         4.0   12.0  3690
76         5.0   10.0  4216
90         5.5   16.0  4500
96         4.0   13.0  2900
117        5.0   15.0  4016
168        2.5    4.0  1268
315        1.5    4.0  1200
373        2.0    3.0  1000
455        1.0    3.5   791
477        1.0    3.0   563

                                           Description       $/Sqft
42   Step back in time to this breathtaking Federal...   748.233783
45   WIDE & TALL\n296 Washington Avenue is built wi...   934.959350
76   BACK ON THE MARKET!\nThis charming brownstone ...   664.136622
90   Built in 1877 by architect-developer Thomas B....   577.777778

In [18]:
for hood, apt in grouphood:
    print(hood) #this indicates the grouping
    print('-'*70)
    print(apt) #this is a dataframe for that 
    print('\n')

Bay Ridge
----------------------------------------------------------------------
                 Address Neighborhood     Price   Apt Type  Bedrooms  \
1        8121 Shore Road    Bay Ridge  15000000      House       7.0
268  615 Ovington Avenue    Bay Ridge   1250000      Condo       3.0
281      458 72nd Street    Bay Ridge   1200000  Townhouse       4.0
374      9917 Shore Road    Bay Ridge    888000      Condo       2.0
435      145 95th Street    Bay Ridge    725000      Co-op       3.0

     Bathrooms  Rooms   Sqft  \
1          7.5   24.0  10010
268        3.0    5.0   2788
281        3.0   10.0   2730
374        2.0    4.0   1025
435        3.0    6.0   1690

                                           Description       $/Sqft
1    A Phenomenal-Once in a Lifetime Opportunity to...  1498.501499
268  Sleek, contemporary and absolutely gorgeous th...   448.350072
281  Newly listed!! This beautiful two-family brick...   439.560440
374  9917 Shore Road #4A-Now available for sale is ...   866.341463
435  Sprawling and Sun-drenched 1690 square ft. thr...   428.994083


Bedford-Stuyvesant
----------------------------------------------------------------------
                   Address        Neighborhood    Price   Apt Type  Bedrooms  \
43   194 MacDonough Street  Bedford-Stuyvesant  3495000  Townhouse       6.0
78       168 Monroe Street  Bedford-Stuyvesant  2795000  Townhouse       6.0
82    364 Jefferson Avenue  Bedford-Stuyvesant  2750000  Townhouse       6.0
92       547 Throop Avenue  Bedford-Stuyvesant  2550000  Townhouse       7.0
97        249 Macon Street  Bedford-Stuyvesant  2499000  Townhouse       6.0
98        285 Macon Street  Bedford-Stuyvesant  2495000  Townhouse       7.0
106     314 Decatur Street  Bedford-Stuyvesant  2375000  Townhouse       6.0
110       188 VAN BUREN ST  Bedford-Stuyvesant  2295000  Townhouse       5.0
128     226A Vernon Avenue  Bedford-Stuyvesant  2095000  Townhouse       4.0
142     192 Madison Street  Bedford-Stuyvesant  1995000  Townhouse       8.0
151     63 Chauncey Street  Bedford-Stuyvesant  1900000  Townhouse       5.0
161     310 Decatur Street  Bedford-Stuyvesant  1799000  Townhouse       4.0
162        176 Hart Street  Bedford-Stuyvesant  1799000  Townhouse       8.0
164     139 Madison Street  Bedford-Stuyvesant  1795000  Townhouse       7.0
172     577 Decatur Street  Bedford-Stuyvesant  1750000  Townhouse       8.0
177      282 Clifton Place  Bedford-Stuyvesant  1750000      Condo       3.0
186      563 Putnam Avenue  Bedford-Stuyvesant  1699000  Townhouse       6.0
187      282 Clifton Place  Bedford-Stuyvesant  1695000      Condo       4.0
191    373 Herkimer Street  Bedford-Stuyvesant  1685000  Townhouse       4.0
211    468 Chauncey Street  Bedford-Stuyvesant  1549000  Townhouse       7.0
245       811 Marcy Avenue  Bedford-Stuyvesant  1375000  Townhouse       8.0
261      328 Quincy Street  Bedford-Stuyvesant  1295000  Townhouse       6.0
275        311 Hart Street  Bedford-Stuyvesant  1249000      Condo       3.0
276     1909 Bergen Street  Bedford-Stuyvesant  1245000  Townhouse       6.0
286  122 Stuyvesant Avenue  Bedford-Stuyvesant  1195000  Townhouse       4.0
288      933 Greene Avenue  Bedford-Stuyvesant  1195000  Townhouse       5.0
309      85 Sackman Street  Bedford-Stuyvesant  1089000  Townhouse       5.0
313       315 Gates Avenue  Bedford-Stuyvesant  1075000      Condo       2.0
317     488 Madison Street  Bedford-Stuyvesant   999000      Condo       2.0
323      697 Monroe Street  Bedford-Stuyvesant   999000      Condo       2.0
330        311 Hart Street  Bedford-Stuyvesant   995000      Condo       2.0
338    230 Tompkins Avenue  Bedford-Stuyvesant   975000  Townhouse       6.0
350        226 Hart Street  Bedford-Stuyvesant   949000      Condo       1.5
391        226 Hart Street  Bedford-Stuyvesant   849000      Condo       2.0
396      667 Putnam Avenue  Bedford-Stuyvesant   829000      Condo       2.0
441     26 Roosevelt Place  Bedford-Stuyvesant   700000  Townhouse       5.0
447      697 Monroe Street  Bedford-Stuyvesant   699000      Condo       2.0
453    853 Herkimer Street  Bedford-Stuyvesant   695000  Townhouse       3.0

     Bathrooms  Rooms  Sqft  \
43         4.5   10.0  3650
78         4.5   12.0  3200
82         4.0   11.0  3895
92         7.0   11.0  4680
97         5.5   10.0  3420
98         4.0   20.0  3200
106        4.0   13.0  3200
110        4.5   10.0  3600
128        4.0   10.0  2406
142        3.5   12.0  3200
151        4.0   12.0  2784
161        3.5    7.0  1980
162        4.0   20.0  2940
164        7.0    8.0  3680
172        4.0   10.0  3600
177        2.5    5.0  1714
186        3.5   11.0  3148
187        2.5    6.0  2037
191        3.5    8.0  3024
211        2.5   14.0  2200
245        3.0   14.0  3758
261        3.0    9.0  2280
275        2.5    5.0  1450
276        3.5    8.0  2060
286        3.0    9.0  1689
288        3.5   10.0  2880
309        4.0   10.0  2088
313        1.5    4.0  1174
317        2.0    5.0  1431
323        2.5    4.0  1750
330        2.0    4.0  1087
338        2.0   10.0  1500
350        1.5    3.5  1290
391        1.5    4.0   876
396        1.5    4.0   777
441        3.0    8.0  2100
447        1.5    4.0   815
453        3.0    8.0  1600

                                           Description       $/Sqft
43   "Wow" is by far the most common reaction upon ...   957.534247
78   Live in this elegantly new constructed, 3200 s...   873.437500
82   IT HAD TO BE YOU... Once in a while you find s...   706.033376
92   547 Throop Avenue is a well-kept mixed-use bro...   544.871795
97   249 Macon Street is a newly renovated two-fami...   730.701754
98   Welcome to 285 Macon Street - the perfect livi...   779.687500
106  The dream of owning a magnificently redone Bro...   742.187500
110  BACK ON THE MARKET!! This gorgeous, thoughtful...   637.500000
128  Welcome to 226A Vernon Avenue; a bespoke, luxu...   870.739817
142  BROOKLYN LIVING REIMAGINED\n192 Madison Street...   623.437500
151  A Historical Brownstone You Won't Soon Forget....   682.471264
161  Welcome to 310 Decatur street â€“ a Handsome Fou...   908.585859
162  The Parker Team of the Corcoran Group has been...   611.904762
164  Introducing 139 Madison Street. This extraordi...   487.771739
172  577 Decatur Street AKA 148 â€“ 156 Howard Ave is...   486.111111
177  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...  1021.003501
186  Welcome to 563 Putnam avenue â€“ a Handsome Four...   539.707751
187  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   832.106038
191  Herkimer Hottie!\nThis priced to SELL townhous...   557.208995
211  Welcome home to 468 Chauncey Street, where his...   704.090909
245  Easy showings by private appointment. INVESTOR...   365.886110
261  A WORTHY INVESTMENT\nIf youâ€™re looking to make...   567.982456
275  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   861.379310
276  1909 Bergen Street is a tastefully renovated t...   604.368932
286  Introducing this two family property located a...   707.519242
288  MAKE YOUR SPACE\nShowing BY APPOINTMENT ONLY O...   414.930556
309  Welcome home to 85 Sackman Street- where space...   521.551724
313  A Garden Paradise\n315 Gates is a beautiful si...   915.672913
317  Yona Condos Unit 1 is an exquisite 2-bed, 2-ba...   698.113208
323  Duplex with Private Garden! 1,750 square foot ...   570.857143
330  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...   915.363385
338  230 Tompkins Avenue is currently a vacant two ...   650.000000
350  At the border of Bedford Stuyvesant and Bushwi...   735.658915
391  At the border of Bedford Stuyvesant and Bushwi...   969.178082
396  Introducing 667 Putnam Ave, a stunning new dev...  1066.924067
441  A legal two-family townhouse in the booming Oc...   333.333333
447  Discover 697 Monroe Street, an utterly luxurio...   857.668712
453  This charming 16.67X32 frame home is situated ...   434.375000


Bensonhurst
----------------------------------------------------------------------
                  Address Neighborhood   Price Apt Type  Bedrooms  Bathrooms  \
356  1414 West 4th Street  Bensonhurst  925000    Condo       3.0        2.0
362  1414 West 4th Street  Bensonhurst  899000    Condo       3.0        2.0

     Rooms  Sqft                                        Description  \
356    5.0  1280  Price Improvement!!\nPH6 at The Jade Condomini...
362    5.0  1223  -- OFFER ACCEPTED -- Only TWO apartments remai...

         $/Sqft
356  722.656250
362  735.077678


Boerum Hill
----------------------------------------------------------------------
               Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
21    345 State Street  Boerum Hill  4495000  Townhouse       5.0        4.5
53     324 Dean Street  Boerum Hill  3250000      Condo       3.0        3.0
65    265 State Street  Boerum Hill  2995000      Condo       3.0        2.5
163  160 Nevins Street  Boerum Hill  1795000  Townhouse       4.0        2.0
352  373 Baltic Street  Boerum Hill   945000      Condo       2.0        2.0

     Rooms  Sqft                                        Description  \
21    11.0  3600  Welcome to 345 State Street - This beautiful F...
53     7.0  2035  You step out from your personally controlled e...
65     5.0  1629  Located in the crown of the building, with ope...
163    9.0  1720  NEW PRICE. Built in the late 1860â€™s in the Gre...
352    3.0   977  In a four-unit condo in the heart of Boerum Hi...

          $/Sqft
21   1248.611111
53   1597.051597
65   1838.551258
163  1043.604651
352   967.246673


Brighton Beach
----------------------------------------------------------------------
                   Address    Neighborhood    Price Apt Type  Bedrooms  \
274  150 Oceana Drive West  Brighton Beach  1249000    Condo       3.0

     Bathrooms  Rooms  Sqft  \
274        3.0    8.0  1563

                                           Description      $/Sqft
274  Welcome home to breathtaking views of the beac...  799.104287


Brooklyn
----------------------------------------------------------------------
             Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
18  98 Degraw Street     Brooklyn  4500000  Townhouse       4.0        3.5
19  96 Degraw Street     Brooklyn  4500000  Townhouse       4.0        3.5

    Rooms  Sqft                                        Description      $/Sqft
18    9.0  3412  Completed in 2018 by architect-developer Barre...  1318.87456
19    9.0  3412  Completed in 2018 by architect-developer Barre...  1318.87456


Brooklyn Heights
----------------------------------------------------------------------
                  Address      Neighborhood    Price   Apt Type  Bedrooms  \
5    76 Pierrepont Street  Brooklyn Heights  6950000  Townhouse       8.0
6       130 Furman Street  Brooklyn Heights  6250000      Condo       5.0
7       130 Furman Street  Brooklyn Heights  5750000      Condo       3.0
9        169 Hicks Street  Brooklyn Heights  5300000  Townhouse       6.0
10       196 Hicks Street  Brooklyn Heights  5250000      Co-op       4.0
11       90 Furman Street  Brooklyn Heights  4950000      Condo       3.0
23      24 Middagh Street  Brooklyn Heights  4300000  Townhouse       7.0
27    145 Atlantic Avenue  Brooklyn Heights  4250000  Townhouse       4.0
44      130 Furman Street  Brooklyn Heights  3450000      Condo       2.0
52       72 Poplar Street  Brooklyn Heights  3250000      Condo       3.0
59       90 Furman Street  Brooklyn Heights  3145000      Condo       2.0
77      360 Furman Street  Brooklyn Heights  2800000      Condo       3.0
108     360 Furman Street  Brooklyn Heights  2350000      Condo       3.0
134     360 Furman Street  Brooklyn Heights  1999000      Condo       2.0
158     360 Furman Street  Brooklyn Heights  1825000      Condo       2.0
159     360 Furman Street  Brooklyn Heights  1825000      Condo       2.0
182  75 Livingston Street  Brooklyn Heights  1699000      Co-op       2.0
184     360 Furman Street  Brooklyn Heights  1699000      Condo       2.0
185     360 Furman Street  Brooklyn Heights  1699000      Condo       2.0
212     360 Furman Street  Brooklyn Heights  1545000      Condo       2.0
251     360 Furman Street  Brooklyn Heights  1325000      Condo       2.0
333     360 Furman Street  Brooklyn Heights   995000      Condo       1.0
342     360 Furman Street  Brooklyn Heights   970000      Condo       1.0
432      245 Henry Street  Brooklyn Heights   735000      Co-op       1.0

     Bathrooms  Rooms  Sqft  \
5          9.0   16.0  6500
6          4.0   10.0  4731
7          3.5    6.0  4163
9          4.0   13.0  4320
10         3.5    9.0  2801
11         2.5    6.0  3081
23         5.0   15.0  4007
27         3.5   12.0  4600
44         2.5    5.0  2182
52         3.0    6.0  1987
59         2.5    4.0  1814
77         3.0    8.0  2281
108        2.0    8.0  1847
134        2.0    4.0  1430
158        2.0    4.0  1433
159        2.0    4.0  1394
182        2.0    4.0  1550
184        2.0    4.0  1386
185        2.0    4.0  1430
212        2.0    4.0  1214
251        2.0    4.0  1205
333        1.0    3.0   822
342        1.0    3.0   782
432        1.0    3.0   715

                                           Description       $/Sqft
5    Rarely does such a show-stopping property come...  1069.230769
6    IMMEDIATE OCCUPANCY! This Massive Sunny 5 Bedr...  1321.073769
7    For Immediate Occupancy! This incredible 3 Bed...  1381.215470
9    DOUBLE DUPLEX. Resting squarely within the Bro...  1226.851852
10   An incredibly grand and elegant parlor floor, ...  1874.330596
11   IMMEDIATE OCCUPANCY! Over 90% sold out. This i...  1606.621227
23   Known as the "Queen of Brooklyn Heights" 24 Mi...  1073.122036
27   A developers dream! This Mixed-Use Brownstone ...   923.913043
44   IMMEDIATE OCCUPANCY! This awe-inspiring 2 Bed,...  1581.118240
52   With abundant south and west-facing windows, t...  1635.631605
59   Brand new price improvement, and N808 purchase...  1733.737596
77   *** OWNER SAYS SELL***\nSensationally, Stunnin...  1227.531784
108  ***PRICED TO SELL***\nCurrently laid out as a ...  1272.333514
134  STUNNING VIEWS from this spectacular 2 Bedroom...  1397.902098
158  The LOWEST price per SF for the incredible HAR...  1273.551989
159  *** Owner says sell ***\nCome and see this won...  1309.182209
182  Unit 9E at 75 Livingston Street is a spacious,...  1096.129032
184  Welcome to OBB 605, a stunning and spacious tw...  1225.829726
185  *** WONDERFUL DEAL AT OBBP ***\nStunning 1430 ...  1188.111888
212  Rare and renovated to perfection, this excepti...  1272.652389
251  Come see this STUNNING 1 Bedroom + HUGE H/O, 2...  1099.585062
333  ***MAKE AN OFFER***\nA Stunning 822 approx s/f...  1210.462287
342  A Stunning 782 approx s/f one bedroom designer...  1240.409207
432  Nestled in the heart of historic Brooklyn Heig...  1027.972028


Bushwick
----------------------------------------------------------------------
                      Address Neighborhood    Price   Apt Type  Bedrooms  \
103             1639 Broadway     Bushwick  2449000  Townhouse      12.0
165          69 Eldert Street     Bushwick  1795000  Townhouse      11.0
169       656 Chauncey Street     Bushwick  1750000  Townhouse       5.0
188        1074 Halsey Street     Bushwick  1695000  Townhouse       5.0
190      137 Weirfield Street     Bushwick  1694000  Townhouse       6.0
262       648 Chauncey Street     Bushwick  1289000      House       5.0
263        1343 Greene Avenue     Bushwick  1275000      House       7.0
273         360 Wilson Avenue     Bushwick  1249995  Townhouse       6.0
305  318 Knickerbocker Avenue     Bushwick  1099000      Condo       2.0
306       439 Bushwick Avenue     Bushwick  1099000  Townhouse       3.0
367          139 Grove Street     Bushwick   895000      Condo       1.0
433          139 Grove Street     Bushwick   725000      Condo       2.0

     Bathrooms  Rooms  Sqft  \
103        6.5   24.0  7325
165        3.5   14.0  3240
169        4.5   10.0  3667
188        5.0   11.0  3276
190        6.0   12.0  5880
262        5.0   10.0  2295
263        2.0    9.0  1600
273        4.0   12.0  2930
305        2.0    6.0  1221
306        2.0    5.0  2200
367        1.5    4.0  1556
433        2.0    4.0   915

                                           Description      $/Sqft
103  The mixed use property at 1639 Broadway is pos...  334.334471
165  69 Eldert Street is an income producing 3 fami...  554.012346
169  An enormous 3700 square foot opportunity await...  477.229343
188  This perfectly located townhouse in Bushwick h...  517.399267
190  Welcome to 137 Weirfield Street, at nearly 600...  288.095238
262  648 Chauncey Street is an elegant two-family h...  561.655773
263  Welcome to this 2 family townhouse in good con...  796.875000
273  Double duplex dream come true- live and invest...  426.619454
305  Killer 2 Bedroom/2 Bathroom Duplex Condo!\n*Ov...  900.081900
306  This one of a kind, mixed use building is loca...  499.545455
367  Discover Contemporary Bushwick Luxury at 139 G...  575.192802
433  Discover Contemporary Bushwick Luxury at 139 G...  792.349727


CANARSIE, USA
----------------------------------------------------------------------
                     Address   Neighborhood   Price   Apt Type  Bedrooms  \
387  17 Paerdegat 6th Street  CANARSIE, USA  850000  Townhouse       5.0

     Bathrooms  Rooms  Sqft  \
387        3.0   13.0  2100

                                           Description      $/Sqft
387  Welcome to 17 Paerdegat 6th Street, drive up t...  404.761905


Carroll Gardens
----------------------------------------------------------------------
                  Address     Neighborhood    Price   Apt Type  Bedrooms  \
22          112 2nd Place  Carroll Gardens  4450000  Townhouse       9.0
26   236 President Street  Carroll Gardens  4250000      House       6.0
54       291 Union Street  Carroll Gardens  3250000      Condo       3.0
55       291 Union Street  Carroll Gardens  3225000      Condo       4.0
57          59 RAPELYE ST  Carroll Gardens  3195000  Townhouse       5.0
80       291 Union Street  Carroll Gardens  2750000      Condo       3.0
395          98 2nd Place  Carroll Gardens   835000      Co-op       1.0

     Bathrooms  Rooms  Sqft  \
22         5.0   19.0  5000
26         4.0   10.0  3485
54         3.0    6.0  1853
55         3.0    7.0  2304
57         6.0    9.0  3217
80         3.0    3.0  1881
395        1.0    3.0   760

                                           Description       $/Sqft
22   112 Second Place, Carroll Gardens\nA rare and ...   890.000000
26   Lofty and expansive 3,485 square foot carriage...  1219.512195
54   This dramatic three-bedroom, three bath condo ...  1753.912574
55   Rare and distinctive, 23ft wide, four-bedroom,...  1399.739583
57   This stunning, one-of-a-kind Columbia Waterfro...   993.161330
80   PARKING INCLUDED! The perfect combination of s...  1461.988304
395  Let me count the ways you'll fall in love with...  1098.684211


Clinton Hill
----------------------------------------------------------------------
                   Address  Neighborhood    Price   Apt Type  Bedrooms  \
42      298 Clinton Avenue  Clinton Hill  3495000  Townhouse       6.0
45   296 WASHINGTON AVENUE  Clinton Hill  3450000  Townhouse       6.0
76   294 Saint James Place  Clinton Hill  2800000  Townhouse       5.0
90       21 Brevoort Place  Clinton Hill  2600000  Townhouse       7.0
96         971 Kent Avenue  Clinton Hill  2500000  Townhouse       7.0
117     191 Lefferts Place  Clinton Hill  2200000  Townhouse       7.0
168      347 Greene Avenue  Clinton Hill  1769000      Condo       2.0
315      149 Clifton Place  Clinton Hill  1035000      Condo       2.0
373        970 Kent Avenue  Clinton Hill   889000      Condo       1.5
455     325 Clinton Avenue  Clinton Hill   695000      Co-op       1.0

266  Best priced 2 Family Home in Ditmas Park! This...  482.253086


Downtown Brooklyn
----------------------------------------------------------------------
                     Address       Neighborhood    Price Apt Type  Bedrooms  \
46            11 Hoyt Street  Downtown Brooklyn  3450000    Condo       4.0
62            11 Hoyt Street  Downtown Brooklyn  3075000    Condo       3.0
95            11 Hoyt Street  Downtown Brooklyn  2545000    Condo       3.0
105           11 Hoyt Street  Downtown Brooklyn  2385000    Condo       3.0
111           11 Hoyt Street  Downtown Brooklyn  2255000    Condo       2.0
116           11 Hoyt Street  Downtown Brooklyn  2210000    Condo       2.0
126           11 Hoyt Street  Downtown Brooklyn  2105000    Condo       2.0
129           11 Hoyt Street  Downtown Brooklyn  2060000    Condo       3.0
130           11 Hoyt Street  Downtown Brooklyn  2005000    Condo       3.0
146           11 Hoyt Street  Downtown Brooklyn  1965000    Condo       3.0
160           11 Hoyt Street  Downtown Brooklyn  1825000    Condo       2.0
216           11 Hoyt Street  Downtown Brooklyn  1525000    Condo       1.0
217          306 Gold Street  Downtown Brooklyn  1499000    Condo       2.0
222           11 Hoyt Street  Downtown Brooklyn  1460000    Condo       2.0
253        187 Bridge Street  Downtown Brooklyn  1315000    Condo       2.0
257           11 Hoyt Street  Downtown Brooklyn  1300000    Condo       2.0
289        187 Bridge Street  Downtown Brooklyn  1195000    Condo       2.0
290           11 Hoyt Street  Downtown Brooklyn  1185000    Condo       1.0
314  189 Schermerhorn Street  Downtown Brooklyn  1075000    Condo       2.0
328          306 Gold Street  Downtown Brooklyn   995000    Condo       1.0
332        187 Bridge Street  Downtown Brooklyn   995000    Condo       1.0
389  189 Schermerhorn Street  Downtown Brooklyn   850000    Condo       1.0

     Bathrooms  Rooms  Sqft  \
46         3.0    5.0  1926
62         3.0    5.0  1722
95         2.0    5.0  1410
105        3.0    5.0  1755
111        2.0    4.0  1237
116        2.0    4.0  1306
126        2.0    4.0  1271
129        2.0    5.0  1288
130        2.0    5.0  1385
146        3.0    5.0  1537
160        2.0    4.0  1339
216        1.0    3.0   861
217        2.0    4.0  1176
222        2.0    4.0   985
253        2.0    4.0  1004
257        2.0    4.0  1012
289        2.0    4.0  1004
290        1.5    3.0   961
314        2.0    4.0   910
328        1.0    3.0   863
332        1.5    3.0   618
389        1.0    3.0   606

                                           Description       $/Sqft
46   Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1791.277259
62   Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1785.714286
95   Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1804.964539
105  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1358.974359
111  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1822.958771
116  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1692.189893
126  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1656.176239
129  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1599.378882
130  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1447.653430
146  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1278.464541
160  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1362.957431
216  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1771.196283
217  VIDEO TOUR: https://www.youtube.com/watch?v=5W...  1274.659864
222  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1482.233503
253  Extremely private floor through CORNER units w...  1309.760956
257  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1284.584980
289  SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATTO...  1190.239044
290  Tishman Speyerâ€™s 11 Hoyt sets Brooklynâ€™s new s...  1233.090531
314  TWO BEDROOM VALUE PLAY!! Floor to ceiling wind...  1181.318681
328  Luxury awaits at this brand new to the market ...  1152.954809
332  *SPONSOR TO PAY TRANSFER TAXES AND SPONSOR ATT...  1610.032362
389  Open your front door and NY Harbor, the Verraz...  1402.640264


EAST NEW YORK, USA
----------------------------------------------------------------------
                  Address        Neighborhood    Price   Apt Type  Bedrooms  \
311  133 Sunnyside Avenue  EAST NEW YORK, USA  1075000  Townhouse      10.0
365   920 Glenmore Avenue  EAST NEW YORK, USA   899000  Townhouse       8.0

     Bathrooms  Rooms  Sqft  \
311        3.0   12.0  2890
365        3.0   12.0  4000

                                           Description      $/Sqft
311  New to market! A rare offering awaits within t...  371.972318
365  920 Glenmore Avenue is the perfect investment ...  224.750000


East Flatbush, USA
----------------------------------------------------------------------
                  Address        Neighborhood   Price   Apt Type  Bedrooms  \
434    3511 Snyder Avenue  East Flatbush, USA  725000  Townhouse       5.0
443  672 Linden Boulevard  East Flatbush, USA  699000  Townhouse       6.0

     Bathrooms  Rooms  Sqft  \
434        3.0   10.0  2292
443        3.0   20.0  2080

                                           Description      $/Sqft
434  OPEN HOUSE WILL OFFER ACCESS TO 2ND FLOOR UNIT...  316.317627
443  Now Vacant.\nMust See Large Two Family Brick H...  336.057692


FLATLANDS, USA
----------------------------------------------------------------------
                   Address    Neighborhood   Price Apt Type  Bedrooms  \
421  1077 East 42nd Street  FLATLANDS, USA  750000    House       3.0

     Bathrooms  Rooms  Sqft  \
421        2.0    8.0  1912

                                           Description      $/Sqft
421  1077 East 42nd Street is located in the Flatla...  392.259414


Flatbush
----------------------------------------------------------------------
                  Address Neighborhood    Price   Apt Type  Bedrooms  \
296        345 Lenox Road     Flatbush  1150000      Condo       3.0
401        345 Lenox Road     Flatbush   799000      Condo       2.0
405  2012 Nostrand Avenue     Flatbush   799000  Townhouse       3.0
414  140 East 38th Street     Flatbush   779000  Townhouse       5.0
415        345 Lenox Road     Flatbush   779000      Condo       2.0
424  896 East 37th Street     Flatbush   749999  Townhouse       3.0
427        345 Lenox Road     Flatbush   749000      Condo       2.0
462  512 East 34th Street     Flatbush   684995      House       3.0

     Bathrooms  Rooms  Sqft  \
296        2.0    5.0  1330
401        2.0    4.0   994
405        3.0    6.0  2004
414        4.0    9.0  2080
415        2.0    4.0   994
424        2.0    9.0  1540
427        2.0    4.0   990
462        2.5    6.0  1118

                                           Description      $/Sqft
296  Introducing 345 Lenox Road, a stunning new add...  864.661654
401  Introducing 345 Lenox Road, a stunning new add...  803.822938
405  2012 Nostrand Ave is located on a busy commerc...  398.702595
414  Welcome to 140 East 38th Street. This fully-de...  374.519231
415  Introducing 345 Lenox Road, a stunning new add...  783.702213
424  The Brooklyn Dream\nShowing By Appointment Onl...  487.012338
427  Introducing 345 Lenox Road, a stunning new add...  756.565657
462  Calling all savvy buyers!!! If you are looking...  612.696780


Fort Greene
----------------------------------------------------------------------
                    Address Neighborhood    Price   Apt Type  Bedrooms  \
69     74 Vanderbilt Avenue  Fort Greene  2895000  Townhouse       4.0
133   162 S Portland Avenue  Fort Greene  1999000      Condo       2.0
149   162 S Portland Avenue  Fort Greene  1949000      Condo       3.0
173       230 Ashland Place  Fort Greene  1750000      Condo       3.0
176          1 Hanson Place  Fort Greene  1750000      Condo       2.0
226  35 South Elliott Place  Fort Greene  1450000      Condo       2.5
227    215 Lafayette Avenue  Fort Greene  1450000      Condo       2.0
260       230 Ashland Place  Fort Greene  1295000      Condo       2.0
299     181 Clermont Avenue  Fort Greene  1149000      Condo       2.0
390   527 Vanderbilt Avenue  Fort Greene   849000      Condo       2.0
408  23 North Elliott Place  Fort Greene   795000      Condo       1.5

     Bathrooms  Rooms  Sqft  \
69         6.0   11.0  2686
133        1.5    7.0  2025
149        2.0    7.0  1502
173        2.0    6.0  1435
176        2.0    4.0  1320
226        2.5    4.5  1200
227        1.5    4.0  1472
260        2.0    4.0  1300
299        2.0    3.0  1034
390        2.0    4.0  1031
408        1.5    3.0   958

                                           Description       $/Sqft
69   Fort Greene-Clinton Hill border This unique op...  1077.810871
133  Built to the most modern and exacting standard...   987.160494
149  Built to the most modern and exacting standard...  1297.603196
173  SPRAWLING SUN-DRENCHED 1435 S.F., 3-BED / 2-BA...  1219.512195
176  This stunning two bed, two bath condo at the i...  1325.757576
226  On a picturesque tree-lined street, a half blo...  1208.333333
227  Consisting of just three unique duplexes, 215 ...   985.054348
260  LOFTY & LUSCIOUS OVERSIZED 2 BEDROOM in the Fo...   996.153846
299  Gorgeous 2 Bed/2 Bath with large balcony. The ...  1111.218569
390  527 Vanderbilt Avenue #2A - Located on the bor...   823.472357
408  GREENE THUMB GARDEN DUPLEX. Located in the Wal...   829.853862


Gowanus
----------------------------------------------------------------------
           Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
34  255 3rd Avenue      Gowanus  3750000  Townhouse       6.0        4.0

    Rooms  Sqft                                        Description      $/Sqft
34   17.0  5200  The Gowanus is one of the hottest neighborhood...  721.153846


Greenpoint
----------------------------------------------------------------------
                Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
74   627 Leonard Street   Greenpoint  2850000  Townhouse       5.0        2.0
113  544 Leonard Street   Greenpoint  2250000  Townhouse       4.0        2.5
156    19 Apollo Street   Greenpoint  1845000  Townhouse       5.0        2.0
166     21 India Street   Greenpoint  1785000      Condo       2.0        2.0
196     21 India Street   Greenpoint  1655000      Condo       2.0        2.0
203     21 India Street   Greenpoint  1645000      Condo       2.0        2.0
237    214 Green Street   Greenpoint  1395000      Condo       2.0        2.0
344     84 Green Street   Greenpoint   960000      Condo       2.0        1.5
406    84 Engert Avenue   Greenpoint   799000      Condo       1.0        1.0

     Rooms  Sqft                                        Description  \
74    11.0  2480  Welcome to this rarely available four-story do...
113    8.0  1800  Introducing 544 Leonard, a unique Single-Famil...
156   11.0  1900  Best Townhouse deal in Greenpoint! This beauti...
166    4.0  1288  Residence 31E is the largest of the two bedroo...
196    4.0  1194  *Anticipated 25-year 421a Tax Abatement*\nWelc...
203    4.0  1194  *Anticipated 25-year 421a Tax Abatement*\nLast...
237    4.0  1108  An Absolute Must See!!! Exquisite, Spectacular...
344    4.0   900  Built in 2003, 84 Green Street is located in t...
406    3.0   803  UNDER $1000/SF!!! Palatial One Bedroom Condo F...

          $/Sqft
74   1149.193548
113  1250.000000
156   971.052632
166  1385.869565
196  1386.097152
203  1377.721943
237  1259.025271
344  1066.666667
406   995.018680


Greenwood
----------------------------------------------------------------------
              Address Neighborhood    Price   Apt Type  Bedrooms  Bathrooms  \
17     815 5th Avenue    Greenwood  4550000  Townhouse      12.0        6.0
100   262 18th Street    Greenwood  2495000  Townhouse       4.5        4.5
144  271A 22nd Street    Greenwood  1985000      Condo       3.0        2.5
221   265 17th Street    Greenwood  1495000  Townhouse       4.0        2.0
228   201 31st Street    Greenwood  1430000  Townhouse       4.0        3.0
310   207 22nd Street    Greenwood  1079000      Condo       2.0        2.0
321   142 29th Street    Greenwood   999000  Townhouse       4.0        2.0

     Rooms  Sqft                                        Description  \
17    36.0  4560  Prime Corner Greenwood Development Site with u...
100    8.5  2850  ATTENTION ALL END USERS WHO SEEK RENTAL INCOME...
144    6.0  2429  Hillstone is a new development townhouse condo...
221    9.0  1824  This spacious two family townhouse awaits your...
228    8.0  2520  New to the market! This two-family brick townh...
310    6.0  1126  Sunny. Airy. Functional and Perfect for Entert...
321    8.0  1202  Developers and End Users or Both: 142 29th Str...

         $/Sqft
17   997.807018
100  875.438596
144  817.208728
221  819.627193
228  567.460317
310  958.259325
321  831.114809


Kensington
----------------------------------------------------------------------
                 Address Neighborhood    Price   Apt Type  Bedrooms  \
14   669 East 2nd Street   Kensington  4750000  Townhouse      10.0
150  221 East 2nd Street   Kensington  1900000  Townhouse       7.0
155  200 East 7th Street   Kensington  1850000  Townhouse       4.0
219  550 East 9th Street   Kensington  1499000  Townhouse       7.0
267         706 Avenue C   Kensington  1250000  Townhouse       6.0
410    150 Ocean Parkway   Kensington   795000      Condo       2.0
425  781 East 9th Street   Kensington   749000      Condo       2.0
430  852 East 7th Street   Kensington   745000      Condo       2.0

     Bathrooms  Rooms  Sqft  \
14         6.5   19.0  3143
150        4.5   16.0  3116
155        2.5    5.0  2560
219        3.0   14.0  3234
267        4.0   11.0  3025
410        2.0    4.0   996
425        2.0    4.0  1099
430        2.0    4.0  1026

                                           Description       $/Sqft
14   Welcome to The Kensington Villa at 669 East 2n...  1511.294941
150  Fantastic four family townhouse at 221 East 2 ...   609.756098
155  Spacious 2650sf fully detached 4 bedroom 2.5 b...   722.656250
219  Welcome to 550 East 9th street, located on a b...   463.512678
267  Make your dreams come true in this versatile K...   413.223140
410  A really LOVELY 2 bedroom, 2 bath CONDO on the...   798.192771
425  https://www.youtube.com/watch?v=02y-_HMiRbM\nB...   681.528662
430  TWO FOR YOU. Sunny, well proportioned, 2 bedro...   726.120858


Lefferts Gardens
----------------------------------------------------------------------
                 Address      Neighborhood    Price   Apt Type  Bedrooms  \
99   1914 Bedford Avenue  Lefferts Gardens  2495000      House       5.0
124  201 Sterling Street  Lefferts Gardens  2179000  Townhouse       6.0
181    418 Rogers Avenue  Lefferts Gardens  1749000  Townhouse       6.0
550   80 Winthrop Street  Lefferts Gardens   410000      Co-op       1.0

     Bathrooms  Rooms  Sqft  \
99         4.5    8.0  2950
124        4.0   10.0  2128
181        3.0   10.0  4000
550        1.0    3.0   800

                                           Description       $/Sqft
99   This perfect brick semi-detached home has it a...   845.762712
124  Welcome to 201 Sterling street â€“ a move-in rea...  1023.966165
181  Introducing 418 Rogers Avenue, a prewar, mixed...   437.250000
550  Garden facing, sunny and spacious: Welcome hom...   512.500000


Park Slope
----------------------------------------------------------------------
                   Address Neighborhood    Price   Apt Type  Bedrooms  \
13    848 President Street   Park Slope  4750000  Townhouse       8.0
30   212 Saint Johns Place   Park Slope  3995000  Townhouse       7.0
37          105 8th Avenue   Park Slope  3500000      Condo       3.0
47       390 Bergen Street   Park Slope  3400000  Townhouse       6.0
50          105 8th Avenue   Park Slope  3350000      Condo       4.0
66       443 Bergen Street   Park Slope  2995000      Condo       3.0
67   35 Prospect Park West   Park Slope  2935000      Co-op       5.0
81          105 8th Avenue   Park Slope  2750000      Condo       3.0
84       443 Bergen Street   Park Slope  2699000      Condo       3.0
114        300 15th Street   Park Slope  2250000  Townhouse       5.0
120     694 De Graw Street   Park Slope  2195000      Condo       2.0
127        444 12th Street   Park Slope  2100000      Condo       3.0
174        315 12th Street   Park Slope  1750000      Condo       3.0
189         145 Park Place   Park Slope  1695000      Condo       3.0
210        393 Dean Street   Park Slope  1550000      Condo       2.0
244     675 Sackett Street   Park Slope  1375000      Condo       2.0
269         343 4th Avenue   Park Slope  1250000      Condo       2.0
284         145 Park Place   Park Slope  1199000      Condo       2.0
340        392 11th Street   Park Slope   975000      Condo       2.0
392        392 11th Street   Park Slope   849000      Condo       2.0
488        205 15th Street   Park Slope   599000      Condo       1.0

     Bathrooms  Rooms  Sqft  \
13         5.0   18.0  4700
30         5.0   13.0  4458
37         2.5    5.0  2694
47         6.0   16.0  3600
50         3.5   10.0  2044
66         2.5    9.0  1870
67         3.5   12.0  3420
81         3.0    6.0  2135
84         3.5    9.0  2428
114        4.0   11.0  2078
120        2.0    4.0  1593
127        2.0    6.0  1600
174        1.5    5.0  1679
189        2.0    5.5  1510
210        2.0    5.0  1477
244        2.0    4.5  1280
269        2.0    3.0   861
284        2.0    5.0  1252
340        2.0    4.0   950
392        3.0    4.0  1413
488        1.0    4.0   575

                                           Description       $/Sqft
13   LIVE WELL AND PROSPER -\n848 President is a 5 ...  1010.638298
30   PERFECT HARMONY. Previously owned by William G...   896.141768
37   PRICED UNDER $1300 PSF FOR PRIME PARK SLOPE, O...  1299.183370
47   A rare offering, one of Brooklyn's iconic brow...   944.444444
50   PRIME PARK SLOPE, ONE BLOCK TO PARK & SUBWAYS,...  1638.943249
66   Discover the unparalleled effect of integratin...  1601.604278
67   35 Prospect Park West, Apartment 2D offers the...   858.187135
81   PRICED UNDER $1300 PSF FOR PARK SLOPE'S LOVELI...  1288.056206
84   Discover the unparalleled effect of integratin...  1111.614498
114  Welcome home to this beautifully renovated fou...  1082.771896
120  A rare find! This upper triplex two-plus bedro...  1377.903327
127  444 12th Street 5E\nHere is your chance to own...  1312.500000
174  Welcome home to this beautifully designed 2 be...  1042.287076
189  145 Park Place - 4A and Deeded Parking Spot\nT...  1122.516556
210  Newly reduced to $1,550,000, this is the best ...  1049.424509
244  675 Sackett Street - Unit 101 (west side of th...  1074.218750
269  This SUN-SATIONAL spacious, two bedrooms, two ...  1451.800232
284  Incredible new price- reduced by $100K- deal f...   957.667732
340  ENJOY YOUR OWN DEEDED PARKING SPACE with this ...  1026.315789
392  Amazing opportunity to own a spacious 1,400+ s...   600.849257
488  Yes you really can have the the best of classi...  1041.739130


Prospect Heights
----------------------------------------------------------------------
                   Address      Neighborhood    Price   Apt Type  Bedrooms  \
73      223 Prospect Place  Prospect Heights  2850000  Townhouse       5.0
83          329 Park Place  Prospect Heights  2725000  Townhouse       4.0
102     873 Pacific Street  Prospect Heights  2450000      Condo       3.0
135    225 Eastern Parkway  Prospect Heights  1999000      Condo       4.0
175     873 Pacific Street  Prospect Heights  1750000      Condo       3.0
183      730 Bergen Street  Prospect Heights  1699000      Condo       4.0
195     873 Pacific Street  Prospect Heights  1670000      Condo       3.0

In [19]:
grouphood.size()

Neighborhood
Bay Ridge               5
Bedford-Stuyvesant     38
Bensonhurst             2
Boerum Hill             5
Brighton Beach          1
Brooklyn                2
Brooklyn Heights       24
Bushwick               12
CANARSIE, USA           1
Carroll Gardens         7
Clinton Hill           11
Cobble Hill            14
Coney Island            1
Crown Heights          16
DUMBO/Vinegar Hill      2
Ditmas Park             2
Downtown Brooklyn      22
EAST NEW YORK, USA      2
East Flatbush, USA      2
FLATLANDS, USA          1
Flatbush                8
Fort Greene            11
Gowanus                 1
Greenpoint              9
Greenwood               7
Kensington              8
Lefferts Gardens        4
Park Slope             21
Prospect Heights       12
Prospect Park South     1
Red Hook                4
Sheepshead Bay          5
Sunset Park             3
Williamsburg           37
Windsor Terrace         1
dtype: int64

In [29]:
bkhood=grouphood.mean()

In [34]:
bkhood.sort_values('Price',ascending=False).head(10)

,Price,Bedrooms,Bathrooms,Rooms,Sqft,$/Sqft
Neighborhood,,,,,,
Brooklyn,4.500000e+06,4.000000,3.500000,9.000000,3412.000000,1318.874560
Bay Ridge,3.812600e+06,3.800000,3.700000,9.800000,3648.600000,736.349511
Gowanus,3.750000e+06,6.000000,4.000000,17.000000,5200.000000,721.153846
Carroll Gardens,3.136429e+06,4.428571,3.571429,8.142857,2642.857143,1259.571171
Brooklyn Heights,3.096292e+06,3.000000,2.791667,6.625000,2403.125000,1302.854142
Prospect Park South,2.995000e+06,7.000000,4.500000,12.000000,3906.000000,766.769073
Boerum Hill,2.696000e+06,3.400000,2.800000,7.000000,1992.200000,1339.013058
Red Hook,2.656250e+06,5.250000,3.250000,10.000000,3016.250000,879.820046
Park Slope,2.293381e+06,3.380952,2.857143,7.571429,2077.000000,1132.800357
Windsor Terrace,2.195000e+06,5.000000,3.000000,15.000000,2000.000000,1097.500000

In [21]:
grouphoodtype=df1.groupby(['Neighborhood','Apt Type'])
grouphoodbedrooms=df1.groupby(['Neighborhood','Bedrooms'])

In [22]:
grouphoodtype.size()

Neighborhood         Apt Type
Bay Ridge            Co-op         1
                     Condo         2
                     House         1
                     Townhouse     1
Bedford-Stuyvesant   Condo        11
                     Townhouse    27
Bensonhurst          Condo         2
Boerum Hill          Condo         3
                     Townhouse     2
Brighton Beach       Condo         1
Brooklyn             Townhouse     2
Brooklyn Heights     Co-op         3
                     Condo        17
                     Townhouse     4
Bushwick             Condo         3
                     House         2
                     Townhouse     7
CANARSIE, USA        Townhouse     1
Carroll Gardens      Co-op         1
                     Condo         3
                     House         1
                     Townhouse     2
Clinton Hill         Co-op         1
                     Condo         4
                     Townhouse     6
Cobble Hill          Condo        13
                     Townhouse     1
Coney Island         Townhouse     1
Crown Heights        Condo         5
                     House         1
                                  ..
Flatbush             Condo         4
                     House         1
                     Townhouse     3
Fort Greene          Condo        10
                     Townhouse     1
Gowanus              Townhouse     1
Greenpoint           Condo         6
                     Townhouse     3
Greenwood            Condo         2
                     Townhouse     5
Kensington           Condo         3
                     Townhouse     5
Lefferts Gardens     Co-op         1
                     House         1
                     Townhouse     2
Park Slope           Co-op         1
                     Condo        16
                     Townhouse     4
Prospect Heights     Co-op         2
                     Condo         8
                     Townhouse     2
Prospect Park South  House         1
Red Hook             Townhouse     4
Sheepshead Bay       Condo         5
Sunset Park          Co-op         2
                     Townhouse     1
Williamsburg         Condo        32
                     House         1
                     Townhouse     4
Windsor Terrace      Townhouse     1
Length: 67, dtype: int64

In [23]:
grouphoodbedrooms.size()

Neighborhood         Bedrooms
Bay Ridge            2.0          1
                     3.0          2
                     4.0          1
                     7.0          1
Bedford-Stuyvesant   1.5          1
                     2.0          7
                     3.0          3
                     4.0          5
                     5.0          5
                     6.0          9
                     7.0          4
                     8.0          4
Bensonhurst          3.0          2
Boerum Hill          2.0          1
                     3.0          2
                     4.0          1
                     5.0          1
Brighton Beach       3.0          1
Brooklyn             4.0          2
Brooklyn Heights     1.0          3
                     2.0         10
                     3.0          5
                     4.0          2
                     5.0          1
                     6.0          1
                     7.0          1
                     8.0          1
Bushwick             1.0          1
                     2.0          2
                     3.0          1
                                 ..
Kensington           10.0         1
Lefferts Gardens     1.0          1
                     5.0          1
                     6.0          2
Park Slope           1.0          1
                     2.0          7
                     3.0          7
                     4.0          1
                     5.0          2
                     6.0          1
                     7.0          1
                     8.0          1
Prospect Heights     2.0          1
                     3.0          7
                     4.0          3
                     5.0          1
Prospect Park South  7.0          1
Red Hook             5.0          3
                     6.0          1
Sheepshead Bay       2.0          3
                     3.0          2
Sunset Park          1.0          2
                     5.0          1
Williamsburg         1.0          3
                     1.5          1
                     2.0         19
                     3.0          8
                     4.0          2
                     5.0          4
Windsor Terrace      5.0          1
Length: 124, dtype: int64

In [24]:
grouphoodbedrooms.agg(['count','min', 'max', 'mean'])

                             Price                                    \
                             count       min       max          mean
Neighborhood        Bedrooms
Bay Ridge           2.0          1    888000    888000  8.880000e+05
                    3.0          2    725000   1250000  9.875000e+05
                    4.0          1   1200000   1200000  1.200000e+06
                    7.0          1  15000000  15000000  1.500000e+07
Bedford-Stuyvesant  1.5          1    949000    949000  9.490000e+05
                    2.0          7    699000   1075000  9.207143e+05
                    3.0          3    695000   1750000  1.231333e+06
                    4.0          5   1195000   2095000  1.693800e+06
                    5.0          5    700000   2295000  1.435800e+06
                    6.0          9    975000   3495000  2.125333e+06
                    7.0          4   1549000   2550000  2.097250e+06
                    8.0          4   1375000   1995000  1.729750e+06
Bensonhurst         3.0          2    899000    925000  9.120000e+05
Boerum Hill         2.0          1    945000    945000  9.450000e+05
                    3.0          2   2995000   3250000  3.122500e+06
                    4.0          1   1795000   1795000  1.795000e+06
                    5.0          1   4495000   4495000  4.495000e+06
Brighton Beach      3.0          1   1249000   1249000  1.249000e+06
Brooklyn            4.0          2   4500000   4500000  4.500000e+06
Brooklyn Heights    1.0          3    735000    995000  9.000000e+05
                    2.0         10   1325000   3450000  2.021100e+06
                    3.0          5   2350000   5750000  3.820000e+06
                    4.0          2   4250000   5250000  4.750000e+06
                    5.0          1   6250000   6250000  6.250000e+06
                    6.0          1   5300000   5300000  5.300000e+06
                    7.0          1   4300000   4300000  4.300000e+06
                    8.0          1   6950000   6950000  6.950000e+06
Bushwick            1.0          1    895000    895000  8.950000e+05
                    2.0          2    725000   1099000  9.120000e+05
                    3.0          1   1099000   1099000  1.099000e+06
...                            ...       ...       ...           ...
Kensington          10.0         1   4750000   4750000  4.750000e+06
Lefferts Gardens    1.0          1    410000    410000  4.100000e+05
                    5.0          1   2495000   2495000  2.495000e+06
                    6.0          2   1749000   2179000  1.964000e+06
Park Slope          1.0          1    599000    599000  5.990000e+05
                    2.0          7    849000   2195000  1.341857e+06
                    3.0          7   1695000   3500000  2.498429e+06
                    4.0          1   3350000   3350000  3.350000e+06
                    5.0          2   2250000   2935000  2.592500e+06
                    6.0          1   3400000   3400000  3.400000e+06
                    7.0          1   3995000   3995000  3.995000e+06
                    8.0          1   4750000   4750000  4.750000e+06
Prospect Heights    2.0          1   1450000   1450000  1.450000e+06
                    3.0          7    995000   2450000  1.593429e+06
                    4.0          3   1699000   2725000  2.141000e+06
                    5.0          1   2850000   2850000  2.850000e+06
Prospect Park South 7.0          1   2995000   2995000  2.995000e+06
Red Hook            5.0          3   2195000   3100000  2.658333e+06
                    6.0          1   2650000   2650000  2.650000e+06
Sheepshead Bay      2.0          3    650000    895000  7.900000e+05
                    3.0          2    895000    935000  9.150000e+05
Sunset Park         1.0          2    400000    420000  4.100000e+05
                    5.0          1   1349000   1349000  1.349000e+06
Williamsburg        1.0          3    920000    999000  9.513333e+05
                    1.5          1   1150000   1150000  1.150000e+06
                    2.0         19    949000   2775000  1.523275e+06
                    3.0          8   1150000   4295000  2.362932e+06
                    4.0          2   3299000   3495000  3.397000e+06
                    5.0          4   1349000   3999000  2.599000e+06
Windsor Terrace     5.0          1   2195000   2195000  2.195000e+06

                             Bathrooms                     Rooms              \
                                 count  min  max      mean count   min   max
Neighborhood        Bedrooms
Bay Ridge           2.0              1  2.0  2.0  2.000000     1   4.0   4.0
                    3.0              2  3.0  3.0  3.000000     2   5.0   6.0
                    4.0              1  3.0  3.0  3.000000     1  10.0  10.0
                    7.0              1  7.5  7.5  7.500000     1  24.0  24.0
Bedford-Stuyvesant  1.5              1  1.5  1.5  1.500000     1   3.5   3.5
                    2.0              7  1.5  2.5  1.785714     7   4.0   5.0
                    3.0              3  2.5  3.0  2.666667     3   5.0   8.0
                    4.0              5  2.5  4.0  3.300000     5   6.0  10.0
                    5.0              5  3.0  4.5  3.800000     5   8.0  12.0
                    6.0              9  2.0  5.5  3.833333     9   8.0  13.0
                    7.0              4  2.5  7.0  5.125000     4   8.0  20.0
                    8.0              4  3.0  4.0  3.625000     4  10.0  20.0
Bensonhurst         3.0              2  2.0  2.0  2.000000     2   5.0   5.0
Boerum Hill         2.0              1  2.0  2.0  2.000000     1   3.0   3.0
                    3.0              2  2.5  3.0  2.750000     2   5.0   7.0
                    4.0              1  2.0  2.0  2.000000     1   9.0   9.0
                    5.0              1  4.5  4.5  4.500000     1  11.0  11.0
Brighton Beach      3.0              1  3.0  3.0  3.000000     1   8.0   8.0
Brooklyn            4.0              2  3.5  3.5  3.500000     2   9.0   9.0
Brooklyn Heights    1.0              3  1.0  1.0  1.000000     3   3.0   3.0
                    2.0             10  2.0  2.5  2.100000    10   4.0   5.0
                    3.0              5  2.0  3.5  2.800000     5   6.0   8.0
                    4.0              2  3.5  3.5  3.500000     2   9.0  12.0
                    5.0              1  4.0  4.0  4.000000     1  10.0  10.0
                    6.0              1  4.0  4.0  4.000000     1  13.0  13.0
                    7.0              1  5.0  5.0  5.000000     1  15.0  15.0
                    8.0              1  9.0  9.0  9.000000     1  16.0  16.0
Bushwick            1.0              1  1.5  1.5  1.500000     1   4.0   4.0
                    2.0              2  2.0  2.0  2.000000     2   4.0   6.0
                    3.0              1  2.0  2.0  2.000000     1   5.0   5.0
...                                ...  ...  ...       ...   ...   ...   ...
Kensington          10.0             1  6.5  6.5  6.500000     1  19.0  19.0
Lefferts Gardens    1.0              1  1.0  1.0  1.000000     1   3.0   3.0
                    5.0              1  4.5  4.5  4.500000     1   8.0   8.0
                    6.0              2  3.0  4.0  3.500000     2  10.0  10.0
Park Slope          1.0              1  1.0  1.0  1.000000     1   4.0   4.0
                    2.0              7  2.0  3.0  2.142857     7   3.0   5.0
                    3.0              7  1.5  3.5  2.428571     7   5.0   9.0
                    4.0              1  3.5  3.5  3.500000     1  10.0  10.0
                    5.0              2  3.5  4.0  3.750000     2  11.0  12.0
                    6.0              1  6.0  6.0  6.000000     1  16.0  16.0
                    7.0              1  5.0  5.0  5.000000     1  13.0  13.0
                    8.0              1  5.0  5.0  5.000000     1  18.0  18.0
Prospect Heights    2.0              1  2.0  2.0  2.000000     1   4.0   4.0
                    3.0              7  1.5  3.0  2.071429     7   5.0   6.0
                    4.0              3  2.0  3.5  2.666667     3   6.0  10.0
                    5.0              1  3.0  3.0  3.000000     1  10.0  10.0
Prospect Park South 7.0              1  4.5  4.5  4.500000     1  12.0  12.0
Red Hook            5.0              3  2.5  3.5  3.166667     3   8.0  12.0
                    6.0              1  3.5  3.5  3.500000     1  10.0  10.0
Sheepshead Bay      2.0              3  2.0  2.0  2.000000     3   4.0   5.0
                    3.0              2  2.0  2.0  2.000000     2   5.0   5.0
Sunset Park         1.0              2  1.0  1.0  1.000000     2   3.0   3.0
                    5.0              1  2.5  2.5  2.500000     1  10.0  10.0
Williamsburg        1.0              3  1.0  1.0  1.000000     3   3.0   3.0
                    1.5              1  1.5  1.5  1.500000     1   3.0   3.0
                    2.0             19  1.0  3.5  2.052632    19   4.0   5.0
                    3.0              8  2.0  3.5  2.437500     8   5.0   9.0
                    4.0              2  2.5  4.0  3.250000     2   6.0   7.0
                    5.0              4  2.0  3.0  2.500000     4   8.0  18.0
Windsor Terrace     5.0              1  3.0  3.0  3.000000     1  15.0  15.0

                                         Sqft                              \
                                   mean count    min    max          mean
Neighborhood        Bedrooms
Bay Ridge           2.0        4.000000     1   1025   1025   1025.000000
                    3.0        5.500000     2   1690   2788   2239.000000
                    4.0       10.000000     1   2730   2730   2730.000000
                    7.0       24.000000     1  10010  10010  10010.000000
Bedford-Stuyvesant  1.5        3.500000     1   1290   1290   1290.000000
                    2.0        4.142857     7    777   1750   1130.000000
                    3.0        6.000000     3   1450   1714   1588.000000
                    4.0        8.000000     5   1689   3024   2227.200000
                    5.0       10.000000     5   2088   3600   2690.400000
                    6.0       10.444444     9   1500   3895   2928.111111
                    7.0       13.250000     4   2200   4680   3440.000000
                    8.0       14.000000     4   2940   3758   3374.500000
Bensonhurst         3.0        5.000000     2   1223   1280   1251.500000
Boerum Hill         2.0        3.000000     1    977    977    977.000000
                    3.0        6.000000     2   1629   2035   1832.000000
                    4.0        9.000000     1   1720   1720   1720.000000
                    5.0       11.000000     1   3600   3600   3600.000000
Brighton Beach      3.0        8.000000     1   1563   1563   1563.000000
Brooklyn            4.0        9.000000     2   3412   3412   3412.000000
Brooklyn Heights    1.0        3.000000     3    715    822    773.000000
                    2.0        4.100000    10   1205   2182   1503.800000
                    3.0        6.800000     5   1847   4163   2671.800000
                    4.0       10.500000     2   2801   4600   3700.500000
                    5.0       10.000000     1   4731   4731   4731.000000
                    6.0       13.000000     1   4320   4320   4320.000000
                    7.0       15.000000     1   4007   4007   4007.000000
                    8.0       16.000000     1   6500   6500   6500.000000
Bushwick            1.0        4.000000     1   1556   1556   1556.000000
                    2.0        5.000000     2    915   1221   1068.000000
                    3.0        5.000000     1   2200   2200   2200.000000
...                                 ...   ...    ...    ...           ...
Kensington          10.0      19.000000     1   3143   3143   3143.000000
Lefferts Gardens    1.0        3.000000     1    800    800    800.000000
                    5.0        8.000000     1   2950   2950   2950.000000
                    6.0       10.000000     2   2128   4000   3064.000000
Park Slope          1.0        4.000000     1    575    575    575.000000
                    2.0        4.214286     7    861   1593   1260.857143
                    3.0        6.500000     7   1510   2694   1988.000000
                    4.0       10.000000     1   2044   2044   2044.000000
                    5.0       11.500000     2   2078   3420   2749.000000
                    6.0       16.000000     1   3600   3600   3600.000000
                    7.0       13.000000     1   4458   4458   4458.000000
                    8.0       18.000000     1   4700   4700   4700.000000
Prospect Heights    2.0        4.000000     1   1395   1395   1395.000000
                    3.0        5.714286     7   1200   1727   1429.428571
                    4.0        7.666667     3   1824   2348   2071.666667
                    5.0       10.000000     1   2894   2894   2894.000000
Prospect Park South 7.0       12.000000     1   3906   3906   3906.000000
Red Hook            5.0       10.000000     3   2900   3100   2988.333333
                    6.0       10.000000     1   3100   3100   3100.000000
Sheepshead Bay      2.0        4.333333     3   1002   1165   1097.666667
                    3.0        5.000000     2   1300   1300   1300.000000
Sunset Park         1.0        3.000000     2    560    680    620.000000
                    5.0       10.000000     1   2448   2448   2448.000000
Williamsburg        1.0        3.000000     3    688    815    740.666667
                    1.5        3.000000     1   1448   1448   1448.000000
                    2.0        4.105263    19    884   2118   1171.894737
                    3.0        5.687500     8   1324   2318   1606.000000
                    4.0        6.500000     2   1920   2438   2179.000000
                    5.0       11.500000     4   1368   4011   2756.500000
Windsor Terrace     5.0       15.000000     1   2000   2000   2000.000000

                             $/Sqft
                              count          min          max         mean
Neighborhood        Bedrooms
Bay Ridge           2.0           1   866.341463   866.341463   866.341463
                    3.0           2   428.994083   448.350072   438.672077
                    4.0           1   439.560440   439.560440   439.560440
                    7.0           1  1498.501499  1498.501499  1498.501499
Bedford-Stuyvesant  1.5           1   735.658915   735.658915   735.658915
                    2.0           7   570.857143  1066.924067   856.253930
                    3.0           3   434.375000  1021.003501   772.252604
                    4.0           5   557.208995   908.585859   775.231990
                    5.0           5   333.333333   682.471264   517.957375
                    6.0           9   539.707751   957.534247   707.994835
                    7.0           4   487.771739   779.687500   629.105486
                    8.0           4   365.886110   623.437500   521.834871
Bensonhurst         3.0           2   722.656250   735.077678   728.866964
Boerum Hill         2.0           1   967.246673   967.246673   967.246673
                    3.0           2  1597.051597  1838.551258  1717.801428
                    4.0           1  1043.604651  1043.604651  1043.604651
                    5.0           1  1248.611111  1248.611111  1248.611111
Brighton Beach      3.0           1   799.104287   799.104287   799.104287
Brooklyn            4.0           2  1318.874560  1318.874560  1318.874560
Brooklyn Heights    1.0           3  1027.972028  1240.409207  1159.614507
                    2.0          10  1096.129032  1733.737596  1317.780023
                    3.0           5  1227.531784  1635.631605  1424.666720
                    4.0           2   923.913043  1874.330596  1399.121820
                    5.0           1  1321.073769  1321.073769  1321.073769
                    6.0           1  1226.851852  1226.851852  1226.851852
                    7.0           1  1073.122036  1073.122036  1073.122036
                    8.0           1  1069.230769  1069.230769  1069.230769
Bushwick            1.0           1   575.192802   575.192802   575.192802
                    2.0           2   792.349727   900.081900   846.215813
                    3.0           1   499.545455   499.545455   499.545455
...                             ...          ...          ...          ...
Kensington          10.0          1  1511.294941  1511.294941  1511.294941
Lefferts Gardens    1.0           1   512.500000   512.500000   512.500000
                    5.0           1   845.762712   845.762712   845.762712
                    6.0           2   437.250000  1023.966165   730.608083
Park Slope          1.0           1  1041.739130  1041.739130  1041.739130
                    2.0           7   600.849257  1451.800232  1076.882799
                    3.0           7  1042.287076  1601.604278  1253.965998
                    4.0           1  1638.943249  1638.943249  1638.943249
                    5.0           2   858.187135  1082.771896   970.479515
                    6.0           1   944.444444   944.444444   944.444444
                    7.0           1   896.141768   896.141768   896.141768
                    8.0           1  1010.638298  1010.638298  1010.638298
Prospect Heights    2.0           1  1039.426523  1039.426523  1039.426523
                    3.0           7   829.166667  1418.645049  1107.251687
                    4.0           3   931.469298  1160.562181  1023.498174
                    5.0           1   984.796130   984.796130   984.796130
Prospect Park South 7.0           1   766.769073   766.769073   766.769073
Red Hook            5.0           3   740.303541  1000.000000   888.147157
                    6.0           1   854.838710   854.838710   854.838710
Sheepshead Bay      2.0           3   557.939914   823.353293   725.380744
                    3.0           2   688.461538   719.230769   703.846154
Sunset Park         1.0           2   588.235294   750.000000   669.117647
                    5.0           1   551.062092   551.062092   551.062092
Williamsburg        1.0           3  1128.834356  1452.034884  1293.762162
                    1.5           1   794.198895   794.198895   794.198895
                    2.0          19  1032.894737  1584.590945  1296.601917
                    3.0           8   862.068966  1852.890423  1434.641057
                    4.0           2  1433.552092  1718.229167  1575.890629
                    5.0           4   849.750000  1001.214329   958.520917
Windsor Terrace     5.0           1  1097.500000  1097.500000  1097.500000

[124 rows x 20 columns]

In [25]:
grouphoodtype.agg(['count','min', 'max', 'mean'])

                              Price                                    \
                              count       min       max          mean
Neighborhood        Apt Type
Bay Ridge           Co-op         1    725000    725000  7.250000e+05
                    Condo         2    888000   1250000  1.069000e+06
                    House         1  15000000  15000000  1.500000e+07
                    Townhouse     1   1200000   1200000  1.200000e+06
Bedford-Stuyvesant  Condo        11    699000   1750000  1.098909e+06
                    Townhouse    27    695000   3495000  1.817926e+06
Bensonhurst         Condo         2    899000    925000  9.120000e+05
Boerum Hill         Condo         3    945000   3250000  2.396667e+06
                    Townhouse     2   1795000   4495000  3.145000e+06
Brighton Beach      Condo         1   1249000   1249000  1.249000e+06
Brooklyn            Townhouse     2   4500000   4500000  4.500000e+06
Brooklyn Heights    Co-op         3    735000   5250000  2.561333e+06
                    Condo        17    970000   6250000  2.695706e+06
                    Townhouse     4   4250000   6950000  5.200000e+06
Bushwick            Condo         3    725000   1099000  9.063333e+05
                    House         2   1275000   1289000  1.282000e+06
                    Townhouse     7   1099000   2449000  1.675999e+06
CANARSIE, USA       Townhouse     1    850000    850000  8.500000e+05
Carroll Gardens     Co-op         1    835000    835000  8.350000e+05
                    Condo         3   2750000   3250000  3.075000e+06
                    House         1   4250000   4250000  4.250000e+06
                    Townhouse     2   3195000   4450000  3.822500e+06
Clinton Hill        Co-op         1    695000    695000  6.950000e+05
                    Condo         4    625000   1769000  1.079500e+06
                    Townhouse     6   2200000   3495000  2.840833e+06
Cobble Hill         Condo        13    478000   3100000  1.971000e+06
                    Townhouse     1   2600000   2600000  2.600000e+06
Coney Island        Townhouse     1    850000    850000  8.500000e+05
Crown Heights       Condo         5    495000   1250000  7.330000e+05
                    House         1   2299000   2299000  2.299000e+06
...                             ...       ...       ...           ...
Flatbush            Condo         4    749000   1150000  8.692500e+05
                    House         1    684995    684995  6.849950e+05
                    Townhouse     3    749999    799000  7.759997e+05
Fort Greene         Condo        10    795000   1999000  1.443600e+06
                    Townhouse     1   2895000   2895000  2.895000e+06
Gowanus             Townhouse     1   3750000   3750000  3.750000e+06
Greenpoint          Condo         6    799000   1785000  1.373167e+06
                    Townhouse     3   1845000   2850000  2.315000e+06
Greenwood           Condo         2   1079000   1985000  1.532000e+06
                    Townhouse     5    999000   4550000  2.193800e+06
Kensington          Condo         3    745000    795000  7.630000e+05
                    Townhouse     5   1250000   4750000  2.249800e+06
Lefferts Gardens    Co-op         1    410000    410000  4.100000e+05
                    House         1   2495000   2495000  2.495000e+06
                    Townhouse     2   1749000   2179000  1.964000e+06
Park Slope          Co-op         1   2935000   2935000  2.935000e+06
                    Condo        16    599000   3500000  1.926938e+06
                    Townhouse     4   2250000   4750000  3.598750e+06
Prospect Heights    Co-op         2    995000   1395000  1.195000e+06
                    Condo         8   1395000   2450000  1.739000e+06
                    Townhouse     2   2725000   2850000  2.787500e+06
Prospect Park South House         1   2995000   2995000  2.995000e+06
Red Hook            Townhouse     4   2195000   3100000  2.656250e+06
Sheepshead Bay      Condo         5    650000    935000  8.400000e+05
Sunset Park         Co-op         2    400000    420000  4.100000e+05
                    Townhouse     1   1349000   1349000  1.349000e+06
Williamsburg        Condo        32    920000   4295000  1.729522e+06
                    House         1   1349000   1349000  1.349000e+06
                    Townhouse     4   1649000   3999000  3.086500e+06
Windsor Terrace     Townhouse     1   2195000   2195000  2.195000e+06

                              Bedrooms                        Bathrooms       \
                                 count   min   max       mean     count  min
Neighborhood        Apt Type
Bay Ridge           Co-op            1   3.0   3.0   3.000000         1  3.0
                    Condo            2   2.0   3.0   2.500000         2  2.0
                    House            1   7.0   7.0   7.000000         1  7.5
                    Townhouse        1   4.0   4.0   4.000000         1  3.0
Bedford-Stuyvesant  Condo           11   1.5   4.0   2.318182        11  1.5
                    Townhouse       27   3.0   8.0   5.851852        27  2.0
Bensonhurst         Condo            2   3.0   3.0   3.000000         2  2.0
Boerum Hill         Condo            3   2.0   3.0   2.666667         3  2.0
                    Townhouse        2   4.0   5.0   4.500000         2  2.0
Brighton Beach      Condo            1   3.0   3.0   3.000000         1  3.0
Brooklyn            Townhouse        2   4.0   4.0   4.000000         2  3.5
Brooklyn Heights    Co-op            3   1.0   4.0   2.333333         3  1.0
                    Condo           17   1.0   5.0   2.352941        17  1.0
                    Townhouse        4   4.0   8.0   6.250000         4  3.5
Bushwick            Condo            3   1.0   2.0   1.666667         3  1.5
                    House            2   5.0   7.0   6.000000         2  2.0
                    Townhouse        7   3.0  12.0   6.857143         7  2.0
CANARSIE, USA       Townhouse        1   5.0   5.0   5.000000         1  3.0
Carroll Gardens     Co-op            1   1.0   1.0   1.000000         1  1.0
                    Condo            3   3.0   4.0   3.333333         3  3.0
                    House            1   6.0   6.0   6.000000         1  4.0
                    Townhouse        2   5.0   9.0   7.000000         2  5.0
Clinton Hill        Co-op            1   1.0   1.0   1.000000         1  1.0
                    Condo            4   1.0   2.0   1.625000         4  1.0
                    Townhouse        6   5.0   7.0   6.333333         6  4.0
Cobble Hill         Condo           13   1.0   3.0   2.461538        13  1.0
                    Townhouse        1   8.0   8.0   8.000000         1  4.0
Coney Island        Townhouse        1  12.0  12.0  12.000000         1  4.0
Crown Heights       Condo            5   1.0   3.0   2.000000         5  1.0
                    House            1   5.0   5.0   5.000000         1  4.0
...                                ...   ...   ...        ...       ...  ...
Flatbush            Condo            4   2.0   3.0   2.250000         4  2.0
                    House            1   3.0   3.0   3.000000         1  2.5
                    Townhouse        3   3.0   5.0   3.666667         3  2.0
Fort Greene         Condo           10   1.5   3.0   2.200000        10  1.5
                    Townhouse        1   4.0   4.0   4.000000         1  6.0
Gowanus             Townhouse        1   6.0   6.0   6.000000         1  4.0
Greenpoint          Condo            6   1.0   2.0   1.833333         6  1.0
                    Townhouse        3   4.0   5.0   4.666667         3  2.0
Greenwood           Condo            2   2.0   3.0   2.500000         2  2.0
                    Townhouse        5   4.0  12.0   5.700000         5  2.0
Kensington          Condo            3   2.0   2.0   2.000000         3  2.0
                    Townhouse        5   4.0  10.0   6.800000         5  2.5
Lefferts Gardens    Co-op            1   1.0   1.0   1.000000         1  1.0
                    House            1   5.0   5.0   5.000000         1  4.5
                    Townhouse        2   6.0   6.0   6.000000         2  3.0
Park Slope          Co-op            1   5.0   5.0   5.000000         1  3.5
                    Condo           16   1.0   4.0   2.500000        16  1.0
                    Townhouse        4   5.0   8.0   6.500000         4  4.0
Prospect Heights    Co-op            2   3.0   3.0   3.000000         2  2.0
                    Condo            8   2.0   4.0   3.125000         8  1.5
                    Townhouse        2   4.0   5.0   4.500000         2  2.0
Prospect Park South House            1   7.0   7.0   7.000000         1  4.5
Red Hook            Townhouse        4   5.0   6.0   5.250000         4  2.5
Sheepshead Bay      Condo            5   2.0   3.0   2.400000         5  2.0
Sunset Park         Co-op            2   1.0   1.0   1.000000         2  1.0
                    Townhouse        1   5.0   5.0   5.000000         1  2.5
Williamsburg        Condo           32   1.0   4.0   2.203125        32  1.0
                    House            1   5.0   5.0   5.000000         1  2.0
                    Townhouse        4   4.0   5.0   4.750000         4  2.5
Windsor Terrace     Townhouse        1   5.0   5.0   5.000000         1  3.0

                                  ...      Rooms             Sqft         \
                                  ...        max       mean count    min
Neighborhood        Apt Type      ...
Bay Ridge           Co-op         ...        6.0   6.000000     1   1690
                    Condo         ...        5.0   4.500000     2   1025
                    House         ...       24.0  24.000000     1  10010
                    Townhouse     ...       10.0  10.000000     1   2730
Bedford-Stuyvesant  Condo         ...        6.0   4.409091    11    777
                    Townhouse     ...       20.0  10.925926    27   1500
Bensonhurst         Condo         ...        5.0   5.000000     2   1223
Boerum Hill         Condo         ...        7.0   5.000000     3    977
                    Townhouse     ...       11.0  10.000000     2   1720
Brighton Beach      Condo         ...        8.0   8.000000     1   1563
Brooklyn            Townhouse     ...        9.0   9.000000     2   3412
Brooklyn Heights    Co-op         ...        9.0   5.333333     3    715
                    Condo         ...       10.0   5.117647    17    782
                    Townhouse     ...       16.0  14.000000     4   4007
Bushwick            Condo         ...        6.0   4.666667     3    915
                    House         ...       10.0   9.500000     2   1600
                    Townhouse     ...       24.0  12.571429     7   2200
CANARSIE, USA       Townhouse     ...       13.0  13.000000     1   2100
Carroll Gardens     Co-op         ...        3.0   3.000000     1    760
                    Condo         ...        7.0   5.333333     3   1853
                    House         ...       10.0  10.000000     1   3485
                    Townhouse     ...       19.0  14.000000     2   3217
Clinton Hill        Co-op         ...        3.5   3.500000     1    791
                    Condo         ...        4.0   3.500000     4    563
                    Townhouse     ...       16.0  13.666667     6   2900
Cobble Hill         Condo         ...        6.0   4.846154    13    478
                    Townhouse     ...       16.0  16.000000     1   3656
Coney Island        Townhouse     ...       13.0  13.000000     1   4560
Crown Heights       Condo         ...        7.0   4.400000     5    592
                    House         ...       10.0  10.000000     1   3042
...                               ...        ...        ...   ...    ...
Flatbush            Condo         ...        5.0   4.250000     4    990
                    House         ...        6.0   6.000000     1   1118
                    Townhouse     ...        9.0   8.000000     3   1540
Fort Greene         Condo         ...        7.0   4.650000    10    958
                    Townhouse     ...       11.0  11.000000     1   2686
Gowanus             Townhouse     ...       17.0  17.000000     1   5200
Greenpoint          Condo         ...        4.0   3.833333     6    803
                    Townhouse     ...       11.0  10.000000     3   1800
Greenwood           Condo         ...        6.0   6.000000     2   1126
                    Townhouse     ...       36.0  13.900000     5   1202
Kensington          Condo         ...        4.0   4.000000     3    996
                    Townhouse     ...       19.0  13.000000     5   2560
Lefferts Gardens    Co-op         ...        3.0   3.000000     1    800
                    House         ...        8.0   8.000000     1   2950
                    Townhouse     ...       10.0  10.000000     2   2128
Park Slope          Co-op         ...       12.0  12.000000     1   3420
                    Condo         ...       10.0   5.562500    16    575
                    Townhouse     ...       18.0  14.500000     4   2078
Prospect Heights    Co-op         ...        6.0   5.500000     2   1200
                    Condo         ...        7.0   5.750000     8   1286
                    Townhouse     ...       10.0  10.000000     2   2348
Prospect Park South House         ...       12.0  12.000000     1   3906
Red Hook            Townhouse     ...       12.0  10.000000     4   2900
Sheepshead Bay      Condo         ...        5.0   4.600000     5   1002
Sunset Park         Co-op         ...        3.0   3.000000     2    560
                    Townhouse     ...       10.0  10.000000     1   2448
Williamsburg        Condo         ...        9.0   4.453125    32    688
                    House         ...        8.0   8.000000     1   1368
                    Townhouse     ...       18.0  11.000000     4   1647
Windsor Terrace     Townhouse     ...       15.0  15.000000     1   2000

                                                   $/Sqft               \
                                 max          mean  count          min
Neighborhood        Apt Type
Bay Ridge           Co-op       1690   1690.000000      1   428.994083
                    Condo       2788   1906.500000      2   448.350072
                    House      10010  10010.000000      1  1498.501499
                    Townhouse   2730   2730.000000      1   439.560440
Bedford-Stuyvesant  Condo       2037   1309.181818     11   570.857143
                    Townhouse   4680   2880.074074     27   333.333333
Bensonhurst         Condo       1280   1251.500000      2   722.656250
Boerum Hill         Condo       2035   1547.000000      3   967.246673
                    Townhouse   3600   2660.000000      2  1043.604651
Brighton Beach      Condo       1563   1563.000000      1   799.104287
Brooklyn            Townhouse   3412   3412.000000      2  1318.874560
Brooklyn Heights    Co-op       2801   1688.666667      3  1027.972028
                    Condo       4731   1951.882353     17  1099.585062
                    Townhouse   6500   4856.750000      4   923.913043
Bushwick            Condo       1556   1230.666667      3   575.192802
                    House       2295   1947.500000      2   561.655773
                    Townhouse   7325   4074.000000      7   288.095238
CANARSIE, USA       Townhouse   2100   2100.000000      1   404.761905
Carroll Gardens     Co-op        760    760.000000      1  1098.684211
                    Condo       2304   2012.666667      3  1399.739583
                    House       3485   3485.000000      1  1219.512195
                    Townhouse   5000   4108.500000      2   890.000000
Clinton Hill        Co-op        791    791.000000      1   878.634640
                    Condo       1268   1007.750000      4   862.500000
                    Townhouse   4671   3998.833333      6   547.808765
Cobble Hill         Condo       1901   1359.846154     13   971.891892
                    Townhouse   3656   3656.000000      1   711.159737
Coney Island        Townhouse   4560   4560.000000      1   186.403509
Crown Heights       Condo       1445   1014.600000      5   484.429066
                    House       3042   3042.000000      1   755.752794
...                              ...           ...    ...          ...
Flatbush            Condo       1330   1077.000000      4   756.565657
                    House       1118   1118.000000      1   612.696780
                    Townhouse   2080   1874.666667      3   374.519231
Fort Greene         Condo       2025   1327.700000     10   823.472357
                    Townhouse   2686   2686.000000      1  1077.810871
Gowanus             Townhouse   5200   5200.000000      1   721.153846
Greenpoint          Condo       1288   1081.166667      6   995.018680
                    Townhouse   2480   2060.000000      3   971.052632
Greenwood           Condo       2429   1777.500000      2   817.208728
                    Townhouse   4560   2591.200000      5   567.460317
Kensington          Condo       1099   1040.333333      3   681.528662
                    Townhouse   3234   3015.600000      5   413.223140
Lefferts Gardens    Co-op        800    800.000000      1   512.500000
                    House       2950   2950.000000      1   845.762712
                    Townhouse   4000   3064.000000      2   437.250000
Park Slope          Co-op       3420   3420.000000      1   858.187135
                    Condo       2694   1585.062500     16   600.849257
                    Townhouse   4700   3709.000000      4   896.141768
Prospect Heights    Co-op       1500   1350.000000      2   829.166667
                    Condo       2043   1571.000000      8   931.469298
                    Townhouse   2894   2621.000000      2   984.796130
Prospect Park South House       3906   3906.000000      1   766.769073
Red Hook            Townhouse   3100   3016.250000      4   740.303541
Sheepshead Bay      Condo       1300   1178.600000      5   557.939914
Sunset Park         Co-op        680    620.000000      2   588.235294
                    Townhouse   2448   2448.000000      1   551.062092
Williamsburg        Condo       2438   1288.187500     32   794.198895
                    House       1368   1368.000000      1   986.111111
                    Townhouse   4011   2894.500000      4   849.750000
Windsor Terrace     Townhouse   2000   2000.000000      1  1097.500000


                                       max         mean
Neighborhood        Apt Type
Bay Ridge           Co-op       428.994083   428.994083
                    Condo       866.341463   657.345768
                    House      1498.501499  1498.501499
                    Townhouse   439.560440   439.560440
Bedford-Stuyvesant  Condo      1066.924067   858.538661
                    Townhouse   957.534247   631.256694
Bensonhurst         Condo       735.077678   728.866964
Boerum Hill         Condo      1838.551258  1467.616510
                    Townhouse  1248.611111  1146.107881
Brighton Beach      Condo       799.104287   799.104287
Brooklyn            Townhouse  1318.874560  1318.874560
Brooklyn Heights    Co-op      1874.330596  1332.810552
                    Condo      1733.737596  1351.585298
                    Townhouse  1226.851852  1073.279425
Bushwick            Condo       900.081900   755.874810
                    House       796.875000   679.265387
                    Townhouse   554.012346   442.462225
CANARSIE, USA       Townhouse   404.761905   404.761905
Carroll Gardens     Co-op      1098.684211  1098.684211
                    Condo      1753.912574  1538.546821
                    House      1219.512195  1219.512195
                    Townhouse   993.161330   941.580665
Clinton Hill        Co-op       878.634640   878.634640
                    Condo      1395.110410  1064.183686
                    Townhouse   934.959350   722.497544

In [26]:
grouphood.agg(['count', 'sum', 'min', 'max', 'mean', 'std'])

                    Price                                             \
                    count       sum      min       max          mean
Neighborhood
Bay Ridge               5  19063000   725000  15000000  3.812600e+06
Bedford-Stuyvesant     38  61172000   695000   3495000  1.609789e+06
Bensonhurst             2   1824000   899000    925000  9.120000e+05
Boerum Hill             5  13480000   945000   4495000  2.696000e+06
Brighton Beach          1   1249000  1249000   1249000  1.249000e+06
Brooklyn                2   9000000  4500000   4500000  4.500000e+06
Brooklyn Heights       24  74311000   735000   6950000  3.096292e+06
Bushwick               12  17014995   725000   2449000  1.417916e+06
CANARSIE, USA           1    850000   850000    850000  8.500000e+05
Carroll Gardens         7  21955000   835000   4450000  3.136429e+06
Clinton Hill           11  22058000   625000   3495000  2.005273e+06
Cobble Hill            14  28223000   478000   3100000  2.015929e+06
Coney Island            1    850000   850000    850000  8.500000e+05
Crown Heights          16  27232900   495000   5300000  1.702056e+06
DUMBO/Vinegar Hill      2   2300000   975000   1325000  1.150000e+06
Ditmas Park             2   3000000  1250000   1750000  1.500000e+06
Downtown Brooklyn      22  39274000   850000   3450000  1.785182e+06
EAST NEW YORK, USA      2   1974000   899000   1075000  9.870000e+05
East Flatbush, USA      2   1424000   699000    725000  7.120000e+05
FLATLANDS, USA          1    750000   750000    750000  7.500000e+05
Flatbush                8   6489994   684995   1150000  8.112492e+05
Fort Greene            11  17331000   795000   2895000  1.575545e+06
Gowanus                 1   3750000  3750000   3750000  3.750000e+06
Greenpoint              9  15184000   799000   2850000  1.687111e+06
Greenwood               7  14033000   999000   4550000  2.004714e+06
Kensington              8  13538000   745000   4750000  1.692250e+06
Lefferts Gardens        4   6833000   410000   2495000  1.708250e+06
Park Slope             21  48161000   599000   4750000  2.293381e+06
Prospect Heights       12  21877000   995000   2850000  1.823083e+06
Prospect Park South     1   2995000  2995000   2995000  2.995000e+06
Red Hook                4  10625000  2195000   3100000  2.656250e+06
Sheepshead Bay          5   4200000   650000    935000  8.400000e+05
Sunset Park             3   2169000   400000   1349000  7.230000e+05
Williamsburg           37  69039690   920000   4295000  1.865938e+06
Windsor Terrace         1   2195000  2195000   2195000  2.195000e+06

                                  Bedrooms                        ...      \
                              std    count    sum   min   max     ...
Neighborhood                                                      ...
Bay Ridge            6.257737e+06        5   19.0   2.0   7.0     ...
Bedford-Stuyvesant   6.852698e+05       38  183.5   1.5   8.0     ...
Bensonhurst          1.838478e+04        2    6.0   3.0   3.0     ...
Boerum Hill          1.370266e+06        5   17.0   2.0   5.0     ...
Brighton Beach                NaN        1    3.0   3.0   3.0     ...
Brooklyn             0.000000e+00        2    8.0   4.0   4.0     ...
Brooklyn Heights     1.849746e+06       24   72.0   1.0   8.0     ...
Bushwick             4.758566e+05       12   65.0   1.0  12.0     ...
CANARSIE, USA                 NaN        1    5.0   5.0   5.0     ...
Carroll Gardens      1.185720e+06        7   31.0   1.0   9.0     ...
Clinton Hill         1.069569e+06       11   45.5   1.0   7.0     ...
Cobble Hill          7.757719e+05       14   40.0   1.0   8.0     ...
Coney Island                  NaN        1   12.0  12.0  12.0     ...
Crown Heights        1.155452e+06       16   71.0   1.0   8.0     ...
DUMBO/Vinegar Hill   2.474874e+05        2    4.0   2.0   2.0     ...
Ditmas Park          3.535534e+05        2   13.0   6.0   7.0     ...
Downtown Brooklyn    6.928769e+05       22   47.0   1.0   4.0     ...
EAST NEW YORK, USA   1.244508e+05        2   18.0   8.0  10.0     ...
East Flatbush, USA   1.838478e+04        2   11.0   5.0   6.0     ...
FLATLANDS, USA                NaN        1    3.0   3.0   3.0     ...
Flatbush             1.417739e+05        8   23.0   2.0   5.0     ...
Fort Greene          5.958104e+05       11   26.0   1.5   4.0     ...
Gowanus                       NaN        1    6.0   6.0   6.0     ...
Greenpoint           6.234211e+05        9   25.0   1.0   5.0     ...
Greenwood            1.236781e+06        7   33.5   2.0  12.0     ...
Kensington           1.322491e+06        8   40.0   2.0  10.0     ...
Lefferts Gardens     9.179133e+05        4   18.0   1.0   6.0     ...
Park Slope           1.119919e+06       21   71.0   1.0   8.0     ...
Prospect Heights     5.746627e+05       12   40.0   2.0   5.0     ...
Prospect Park South           NaN        1    7.0   7.0   7.0     ...
Red Hook             3.698057e+05        4   21.0   5.0   6.0     ...
Sheepshead Bay       1.133578e+05        5   12.0   2.0   3.0     ...
Sunset Park          5.422241e+05        3    7.0   1.0   5.0     ...
Williamsburg         8.995340e+05       37   94.5   1.0   5.0     ...
Windsor Terrace               NaN        1    5.0   5.0   5.0     ...

                     Sqft                                  $/Sqft  \
                      min    max         mean          std  count
Neighborhood
Bay Ridge            1025  10010  3648.600000  3632.191460      5
Bedford-Stuyvesant    777   4680  2425.342105  1011.241177     38
Bensonhurst          1223   1280  1251.500000    40.305087      2
Boerum Hill           977   3600  1992.200000   977.687424      5
Brighton Beach       1563   1563  1563.000000          NaN      1
Brooklyn             3412   3412  3412.000000     0.000000      2
Brooklyn Heights      715   6500  2403.125000  1536.905992     24
Bushwick              915   7325  3008.750000  1913.514098     12
CANARSIE, USA        2100   2100  2100.000000          NaN      1
Carroll Gardens       760   5000  2642.857143  1381.981841      7
Clinton Hill          563   4671  2619.545455  1658.478964     11
Cobble Hill           478   3656  1523.857143   702.659000     14
Coney Island         4560   4560  4560.000000          NaN      1
Crown Heights         592   7500  2631.000000  1669.961517     16
DUMBO/Vinegar Hill    796   1130   963.000000   236.173665      2
Ditmas Park          2592   3553  3072.500000   679.529617      2
Downtown Brooklyn     606   1926  1189.818182   349.295704     22
EAST NEW YORK, USA   2890   4000  3445.000000   784.888527      2
East Flatbush, USA   2080   2292  2186.000000   149.906638      2
FLATLANDS, USA       1912   1912  1912.000000          NaN      1
Flatbush              990   2080  1381.250000   451.378761      8
Fort Greene           958   2686  1451.181818   505.400795     11
Gowanus              5200   5200  5200.000000          NaN      1
Greenpoint            803   2480  1407.444444   543.712955      9
Greenwood            1126   4560  2358.714286  1173.418470      7
Kensington            996   3234  2274.875000  1042.176903      8
Lefferts Gardens      800   4000  2469.500000  1351.192436      4
Park Slope            575   4700  2077.000000  1124.430033     21
Prospect Heights     1200   2894  1709.166667   502.921616     12
Prospect Park South  3906   3906  3906.000000          NaN      1
Red Hook             2900   3100  3016.250000   100.280856      4
Sheepshead Bay       1002   1300  1178.600000   126.110269      5
Sunset Park           560   2448  1229.333333  1057.100437      3
Williamsburg          688   4011  1464.000000   742.950387     37
Windsor Terrace      2000   2000  2000.000000          NaN      1

                                                                          \
                              sum          min          max         mean
Neighborhood
Bay Ridge             3681.747556   428.994083  1498.501499   736.349511
Bedford-Stuyvesant   26487.856006   333.333333  1066.924067   697.048842
Bensonhurst           1457.733928   722.656250   735.077678   728.866964
Boerum Hill           6695.065291   967.246673  1838.551258  1339.013058
Brighton Beach         799.104287   799.104287   799.104287   799.104287
Brooklyn              2637.749121  1318.874560  1318.874560  1318.874560
Brooklyn Heights     31268.499418   923.913043  1874.330596  1302.854142
Bushwick              6723.390776   288.095238   900.081900   560.282565
CANARSIE, USA          404.761905   404.761905   404.761905   404.761905
Carroll Gardens       8816.998198   890.000000  1753.912574  1259.571171
Clinton Hill          9470.354647   547.808765  1395.110410   860.941332
Cobble Hill          19042.377392   711.159737  2047.556143  1360.169814
Coney Island           186.403509   186.403509   186.403509   186.403509
Crown Heights        10624.044846   458.937198  1037.344398   664.002803
DUMBO/Vinegar Hill    2397.440744  1172.566372  1224.874372  1198.720372
Ditmas Park            974.794601   482.253086   492.541514   487.397300
Downtown Brooklyn    32493.420907  1152.954809  1822.958771  1476.973678
EAST NEW YORK, USA     596.722318   224.750000   371.972318   298.361159
East Flatbush, USA     652.375319   316.317627   336.057692   326.187659
FLATLANDS, USA         392.259414   392.259414   392.259414   392.259414
Flatbush              5081.683405   374.519231   864.661654   635.210426
Fort Greene          11861.930647   823.472357  1325.757576  1078.357332
Gowanus                721.153846   721.153846   721.153846   721.153846
Greenpoint           10840.645458   971.052632  1386.097152  1204.516162
Greenwood             5866.915986   567.460317   997.807018   838.130855
Kensington            5926.285398   413.223140  1511.294941   740.785675
Lefferts Gardens      2819.478877   437.250000  1023.966165   704.869719
Park Slope           23788.807500   600.849257  1638.943249  1132.800357
Prospect Heights     12845.478985   829.166667  1418.645049  1070.456582
Prospect Park South    766.769073   766.769073   766.769073   766.769073
Red Hook              3519.280182   740.303541  1000.000000   879.820046
Sheepshead Bay        3583.834538   557.939914   823.353293   716.766908
Sunset Park           1889.297386   551.062092   750.000000   629.765795
Williamsburg         47773.915186   794.198895  1852.890423  1291.186897
Windsor Terrace       1097.500000  1097.500000  1097.500000  1097.500000


                            std
Neighborhood
Bay Ridge            464.561177
Bedford-Stuyvesant   187.792407
Bensonhurst            8.783276
Boerum Hill          370.732783
Brighton Beach              NaN
Brooklyn               0.000000
Brooklyn Heights     234.473673
Bushwick             186.105633
CANARSIE, USA               NaN
Carroll Gardens      300.011025
Clinton Hill         241.594737
Cobble Hill          401.852727
Coney Island                NaN
Crown Heights        151.435090
DUMBO/Vinegar Hill    36.987342
Ditmas Park            7.275017
Downtown Brooklyn    232.155511
EAST NEW YORK, USA   104.101900
East Flatbush, USA    13.958334
FLATLANDS, USA              NaN
Flatbush             194.282688
Fort Greene          172.532401
Gowanus                     NaN
Greenpoint           166.342443
Greenwood            138.690951
Kensington           338.564514
Lefferts Gardens     277.067862
Park Slope           250.858821
Prospect Heights     185.520130
Prospect Park South         NaN
Red Hook             110.296900
Sheepshead Bay       104.272183
Sunset Park          105.771734
Williamsburg         256.966757
Windsor Terrace             NaN

[35 rows x 36 columns]